<div class="cart-overlay d-none"></div>
<div id="shopping-cart" class="sidenav bg-white">
	<div class="d-flex w-350 flex-column">
		<span class="py-1 px-3 d-flex align-items-center justify-content-between">
			<span id="cart-close" class="cursor-pointer bg-white shadow closebtn">&times;</span>
			<h4 class="mb-0">Shopping Cart</h4>
			<span class="btn d-flex align-items-center" id="clear-cart">
				<span class="va va-cross p-2"></span>
				Clear Cart
			</span>
		</span>
		<div class="p-3 d-flex flex-column cart-wrapper w-100 list border">
			{{#each cart}}
			<div class="media bg-light p-3 rounded mb-3 border">
				<img class="mr-2 rounded shadow-sm border" height="45" src="{{root}}../{{this.image}}"
					alt="{{this.title}}">
				<div class="media-body">
					<div class="item-name ml-2 text-left">
						<a href="{{root}}shop/product-details.html" class="module line-clamp mb-1">
							<span class="title">{{this.title}}</span>
						</a>
						<span></span>
						<div class="d-flex">
							<p class="text-success mb-1">In Stock</p>
							<div class="item-quantity item-quantity-cart mb-2 ml-auto">
								<div class="input-group input-group-sm">
									<div class="input-group-prepend cursor-pointer">
										<span class="btn input-group-text btn-down" id="btn-down-{{this.id}}">-</span>
									</div>
									<input type="text" value="1" min="1" class="form-control text-center"
										id="form-control-{{this.id}}" readonly>
									<div class="input-group-append cursor-pointer">
										<span class="btn input-group-text btn-up" id="btn-up-{{this.id}}">+</span>
									</div>
								</div>
							</div>
						</div>
						<div class="d-flex">
							<div>
								<p class="text-muted d-flex mb-0"><span class="font-weight-bold">Color : </span> Yellow
								</p>
								<p class="text-muted d-flex mb-0"><span class="font-weight-bold">Size :</span>XXL</p>
							</div>
							<h5 class="ml-auto mt-auto mb-0 price" id="price-{{this.id}}">1190</h5>
						</div>
					</div>
				</div>
				<span id="cart-item-{{this.id}}"
					class="btn btn-cancel btn-remove btn-primary bootstrap-touchspin-down d-flex align-items-center justify-content-center">
					<span class="va va-cross"></span>
				</span>
			</div>
			{{/each}}
		</div>
		<div class="cart-footer px-3 py-2">
			<div class="text-left cart-summary">
				<h4>Shopping summary</h4>
			</div>

			<div class="cart-summary py-1 d-flex">
				<h6 class="mb-0">Sub Total :</h6>
				<h5 class="ml-auto"><span>$</span><span id="s-total">489.00</span></h5>
			</div>

			<div class="cart-summary py-1 d-flex">
				<h6 class="mb-0">Shipping & Handling :</h6>
				<h5 class="ml-auto"><span>$</span> <span id="shipping">0.0</span></h5>
			</div>

			<div class="cart-summary py-1 d-flex">
				<h6 class="mb-0">Tax :</h6>
				<h5 class="ml-auto text-success"><span>$</span> <span id="tax">0.0</span></h5>
			</div>

			<div class="cart-summary py-1 d-flex">
				<h3 class="mb-0">Grand Total :</h3>
				<h3 class="ml-auto"><span>$</span><span id="g-total">489.00</span></h3>
			</div>

			<div class="cart-summary py-1">
				<a href="{{root}}shop/checkout.html" class="btn btn-success btn-block">Checkout</a>
			</div>
		</div>
	</div>
</div>