<div id="categories" class="modal fixed-left fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <h6>Electronics & Computers</h6>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="{{root}}shop/shop.html">Cell Phones</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">TV, Audio & Visual</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Computers & Laptops</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Gaming & Consoles</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Computer Hardware & Accessories</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Cameras</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">iPads & Tablets</a>
                        </nav>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>Fashion & Beauty</h6>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="{{root}}shop/shop.html">Clothing</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Shoes</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Jewellery & Accessories</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Health, Beauty & Cosmetics</a>
                        </nav>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>Vehicles</h6>
                        <nav class="nav flex-column">
                            <a class="nav-link" href="{{root}}shop/shop.html">Cars & Bakkies</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Car Parts & Accessories</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Motorcycles & Scooters</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Trucks & Commercial Vehicles</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Caravans & Trailers</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Motorcycles & Scooters</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Boats & Aviation</a>
                        </nav>
                    </div>
                    <div class="col-12 mb-3">
                        <h6>Hobbies & Interests</h6>
                        <nav class="nav flex-column">
                            <a class="nav-link active" href="{{root}}shop/shop.html">Toys, Games & Remote Control</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Musical Instruments</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Art, Collectibles & Rare Items</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Community Announcements</a>
                            <a class="nav-link" href="{{root}}shop/shop.html">Books, CDs & DVDs</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="modal-footer cart-footer align-items-stretch flex-column">
            </div>
        </div>
    </div>
</div>