<div class="fixed-top shadow-sm">
	<!--  On this pages below this component wont be rendered the pages anre denoted with ''.// -->
	{{#unlesspage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter' 'air'
'auth-forgot-password' 'auth-reset-password' 'auth-register' 'auth-login' '_headers' 'documentation' }}

	<nav class="navbar navbar-expand-md bg-white border-bottom">
		<div class="container">
			<div class="d-flex align-items-center w-100">
				<div class="nav-item">
					<a class="logo" href="/">
						{{> _logo}}
					</a>
				</div>
				<div class="input-group input-group-lg mx-auto col-md-6 d-none d-sm-flex">
					<input type="text" class="form-control" placeholder="Search anything">
					<div class="input-group-append">
						<span class="va va-magnifier input-group-text"></span>
					</div>
				</div>
				<div class="d-flex align-items-center justify-content-between ml-4 left-icon-nav">
					<div class="widget-header">
						<a class="cursor-pointer p-0 d-flex flex-column {{#ifpage 'profile'}} active {{/ifpage}}" href="{{root}}profile/profile.html">
							<span class="va va-user btn btn-icon-nav p-0"></span>
							<small class="text lr-only"> My profile </small>
						</a>
					</div>
					<div class="widget-header">
						<a href="{{root}}notify/notifications.html" class="cursor-pointer d-flex flex-column {{#ifpage 'notifications'}} active {{/ifpage}}">
							<span class="va va-bell btn btn-icon-nav p-0"></span>
							<small class="text lr-only">Notifications</small>
						</a>
					</div>
					<div class="widget-header">
						<span class="cursor-pointer d-flex flex-column" data-toggle="modal" data-target="#shopping-cart">
							<span class="va va-cart btn btn-icon-nav p-0"></span>
							<small class="text lr-only text-muted"> Cart </small>
						</span>
					</div>
				</div>
				<!-- </div> -->
			</div>
		</div>
	</nav>
	{{#unlesspage 'store'}}
	<div class="bg-white">
		<ul class="nav nav-pills container justify-content-between pr-0">
			<li class="nav-item genre">
				<a class="nav-link {{#ifpage 'index'}} active {{/ifpage}} rounded-0" href="#" data-toggle="modal"
					data-target="#categories-modal">
					<span class="va va-menu pr-1"></span>Genre</a>
				</a>
			</li>
			<li class="nav-item shop">
				<a class="nav-link rounded-0 {{#ifpage 'shop'}} active {{/ifpage}}" href="{{root}}shop/shop.html">
					<span class="va va-store pr-1"></span>
					<span>Shop</span>
				</a>
			</li>
			<li class="dropdown nav-item ml-md-auto" data-menu="dropdown">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
					</span>Pages</a>
				<ul class="dropdown-menu">
					<li class="">
						<a class="nav-link" href="{{root}}others/about-us.html">
							About us</a>
					</li>
					<li class="">
						<a class="nav-link" href="{{root}}others/faq.html">FAQ</a>
					</li>
				</ul>
			</li>
			<li class="dropdown dropdown-language nav-item">
				<a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span
						class="selected-language">English</span></a>
				<div class="dropdown-menu dropdown-lg dropdown-menu-right p-3" aria-labelledby="dropdown-flag">
					<form action="">
						<h5 class="font-weight-bold mb-3">
							Regional Settings
						</h5>
						<div class="form-group mb-2">
							<label for="country">country</label>
							<select name="country" id="country" class="select2 form-control select2">
								{{#each countries}}
								<option>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
						<div class="form-group mb-2">
							<label for="language">language</label>
							<select name="language" id="language" class="select2 form-control select2">
								{{#each countries}}
								<option>{{this.languages.0.nativeName}}</option>
								{{/each}}
							</select>
						</div>
						<div class="form-group mb-2">
							<label for="currency">currency</label>
							<select name="currency" id="currency" class="form-control select2">
								{{#each countries}}
								<option>{{this.currencies.0.name}}</option>
								{{/each}}
							</select>
						</div>
					</form>

				</div>
			</li>
			<!--  this will only render on the index page ''.// -->
			{{#ifpage 'index'}}
			<label for="d-mode" class="nav-item ml-3 lr-only d-flex align-items-center mb-0" data-toggle="tooltip"
				data-original-title="display mode">
				<input class="d-none" id="d-mode" type="checkbox">
				<span class="va va-moon btn btn-icon btn-light-200 p-2 mr-1"></span>
			</label>
			{{/ifpage}}
		</ul>
	</div>
	{{/unlesspage}}
	{{/unlesspage}}

	<!-- container .// -->
	<!--  this will only render on the pages below inside the quotes.// -->
	{{#ifpage 'auth-login' 'auth-register' 'auth-reset-password' 'auth-forgot-password'}}
	<nav class="navbar fixed-top">
		<div class="container d-flex justify-content-xs-around">
			<div class="nav-item category-menu">
				<a class="nav-link logo" href="/">
					{{> _logo}}
				</a>
			</div>
		</div>
	</nav>
	{{/ifpage}}
</div>
<!--  On this pages below this component wont be rendered
	[index, auth-login, auth-register, auth-reset-password, auth-forgot-password, shop, store] 
.// -->
{{#unlesspage 'index' 'auth-login' 'auth-register' 'auth-reset-password' 'auth-forgot-password' 'shop' 'store'}}
<div class="bread-overlay"></div>
<div class="py-2 px-2 container px-0 d-flex align-items-center my-2 my-sm-2">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-transparent px-0 mb-0">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
		</ol>
	</nav>
	<label for="d-mode" class="ml-auto d-flex align-items-center mb-0" data-toggle="tooltip"
		data-original-title="display mode">
		<input class="d-none" id="d-mode" type="checkbox">
		<span class="va va-moon btn btn-primary p-2 mr-1"></span>
	</label>
</div>
{{/unlesspage}}