{{#unlesspage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter' 'air'
'auth-forgot-password' 'auth-reset-password' 'auth-register' 'auth-login' '_headers' 'documentation' }}

<nav class="navbar navbar-expand-md fixed-top bg-white border-bottom">
	<div class="container">
		<div class="dropdown nav-item category-menu" data-menu="dropdown">
			<a class="nav-link logo" href="/">
				{{> _logo}}
			</a>
		</div>
		<button class="navbar-toggler dool-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="va va-menu"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="input-group input-group-lg mx-auto col-md-8">
				<input type="text" class="form-control" placeholder="Search anything">
				<div class="input-group-append">
					<span class="va va-magnifier input-group-text"></span>
				</div>
			</div>
			<div class="d-flex mt-2 mt-md-0">
				<div class="dropdown dropdown-user mr-3">
					<a class="dropdown-toggle nav-link dropdown-user-link py-0" href="#" data-toggle="dropdown">
						<div class="text-center header-icons">
							<span class="va va-user"></span>
						</div>
						<small class="text lr-only"> My profile </small>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="{{root}}profile/profile.html">
							<span class="va va-user mr-1"></span>
							My Account
						</a>
						<a class="dropdown-item" href="{{root}}notify/notifications.html">
							<span class="va va-chatbox"></span> My Messages
						</a>
						<a class="dropdown-item" href="{{root}}notify/chat.html">
							<span class="va va-clipboard"></span> My Orders
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/">
							<span class="va va-power-switch"></span>
							Logout
						</a>
					</div>
				</div>
				<div class="widget-header mx-3">
					<a href="{{root}}notify/notifications.html" class="widget-view">
						<div class="text-center header-icons">
							<span class="va va-notifications"></span>
						</div>
						<small class="text lr-only"> Notifications</small>
					</a>
				</div>
				<div class="widget-header ml-3">
					<span id="cart-btn" class="widget-view">
						<div class="text-center header-icons">
							<span class="va cart-icon"></span>
						</div>
						<small class="text lr-only ml-4"> Cart </small>
						<span class="c-badge badge-cart">3</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</nav>
<div class="bg-white mt-r-2 py-1">
	<nav class="nav d-flex justify-content-between container">
		<li class="dropdown nav-item category-menu" data-menu="dropdown">
			<a class="dropdown-toggle nav-link " href="#" data-toggle="dropdown">
				<span class="va va-list pr-1"></span>Genre</a>
			<ul class="dropdown-menu container row p-3 ml-n4 category-dropdown mt-2">
				<div class="row col-md-10">
					<div class="col-md-3 mb-3">
						<h6 class="font-weight-bold">Electronics & Computers</h6>
						<nav class="nav flex-column">
							<a class="nav-link" href="#">Cell Phones</a>
							<a class="nav-link" href="#">TV, Audio & Visual</a>
							<a class="nav-link" href="#">Computers & Laptops</a>
							<a class="nav-link" href="#">Gaming & Consoles</a>
							<a class="nav-link" href="#">Computer Hardware & Accessories</a>
							<a class="nav-link" href="#">Cameras</a>
							<a class="nav-link" href="#">iPads & Tablets</a>
						</nav>
					</div>
					<div class="col-md-3 mb-3">
						<h4>Fashion & Beauty</h4>
						<nav class="nav flex-column">
							<a class="nav-link" href="#">Clothing</a>
							<a class="nav-link" href="#">Shoes</a>
							<a class="nav-link" href="#">Jewellery & Accessories</a>
							<a class="nav-link" href="#">Health, Beauty & Cosmetics</a>
						</nav>
					</div>
					<div class="col-md-3 mb-3">
						<h4>Vehicles</h4>
						<nav class="nav flex-column">
							<a class="nav-link" href="#">Cars & Bakkies</a>
							<a class="nav-link" href="#">Car Parts & Accessories</a>
							<a class="nav-link" href="#">Motorcycles & Scooters</a>
							<a class="nav-link" href="#">Trucks & Commercial Vehicles</a>
							<a class="nav-link" href="#">Caravans & Trailers</a>
							<a class="nav-link" href="#">Motorcycles & Scooters</a>
							<a class="nav-link" href="#">Boats & Aviation</a>
						</nav>
					</div>
					<div class="col-md-3 mb-3">
						<h4>Hobbies & Interests</h4>
						<nav class="nav flex-column">
							<a class="nav-link active" href="#">Toys, Games & Remote Control</a>
							<a class="nav-link" href="#">Musical Instruments</a>
							<a class="nav-link" href="#">Art, Collectibles & Rare Items</a>
							<a class="nav-link" href="#">Community Announcements</a>
							<a class="nav-link" href="#">Books, CDs & DVDs</a>
						</nav>
					</div>
				</div>
				<div class="row col-md-2"></div>
			</ul>
		</li>
		</ul>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="{{root}}shop/shop.html">
				<span class="va va-store px-1"></span>
				<span>Shop</span>
			</a>
		</li>
		<li class="dropdown nav-item ml-md-auto" data-menu="dropdown">
			<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
				<span class="va va-question-circle pr-2"></span><span data-i18n="Apps">Pages</span></a>
			<ul class="dropdown-menu">
				<li class="">
					<a class="nav-link" href="{{root}}others/about-us.html" data-i18n="Email"><i
							class="feather icon-mail"></i>About
						us</a>
				</li>
				<li class="">
					<a class="nav-link" href="{{root}}others/faq.html" data-i18n="Email"><i
							class="feather icon-mail"></i>FAQ</a>
				</li>
			</ul>
		</li>
		<li class="dropdown dropdown-language nav-item">
			<a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span
					class="selected-language">English</span></a>
			<div class="dropdown-menu dropdown-lg dropdown-menu-right p-3" aria-labelledby="dropdown-flag">
				<form action="">
					<h5 class="font-weight-bold mb-3">
						Regional Settings
					</h5>
					<div class="form-group mb-2">
						<label for="country">country</label>
						<select name="country" id="country" class="select2 form-control select2">
							{{#each countries}}
							<option value="Uganda">{{this.name}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group mb-2">
						<label for="language">language</label>
						<select name="language" id="language" class="select2 form-control select2">
							{{#each countries}}
							<option value="Uganda">{{this.languages.0.nativeName}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group mb-2">
						<label for="currency">currency</label>
						<select name="currency" id="currency" class="form-control select2">
							{{#each countries}}
							<option value="Uganda">{{this.currencies.0.name}}</option>
							{{/each}}
						</select>
					</div>
				</form>

			</div>
		</li>
		{{#ifpage 'index'}}
		<li class="nav-item ml-3 lr-only" data-toggle="tooltip" data-original-title="display mode">
			<div class="switch">
				<input class="switch" id="switch" name="switch" type="checkbox">
				<label for="switch"></label>
			</div>
		</li>
		{{/ifpage}}
	</nav>
</div>
{{/unlesspage}}

<!-- container .// -->
{{#ifpage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter'
'auth-forgot-password' 'auth-reset-password' 'auth-register' '_headers'}}
<nav class="navbar fixed-top">
	<div class="container d-flex justify-content-xs-around">
		<div class="nav-item category-menu">
			<a class="nav-link " href="/">
				{{> _logo}}
			</a>
		</div>
	</div>
</nav>
{{/ifpage}}

{{#unlesspage 'index' 'documentation' 'auth-login' 'auth-register' 'auth-reset-password' 'auth-forgot-password'}}
<div class="bread-overlay"></div>
<div class="py-2 px-2 container px-0 d-flex align-items-center my-2 my-sm-2">
	<span>
		<h1 class="mb-0">{{title}}</h1>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb bg-transparent px-0 mb-0 lr-only">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
			</ol>
		</nav>
	</span>
	<div class="switch ml-auto"><input class="switch" id="switch" name="switch" type="checkbox" /><label
			for="switch"></label></div>
</div>
{{/unlesspage}}