<aside id="category-nav" class="col-md-2 lr-only">
    <ul class="nav flex-column" id="accordion">
        <li class="nav-item">
            <a class="nav-link d-flex active" href="#" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <ion-icon class="mr-2" name="phone-portrait-outline"></ion-icon> Phones & Tablets
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <ul id="collapseOne" class="collapse drop-list row pt-3" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="col-md-3 mb-3">
                    <h6>Electronics & Computers</h6>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">Cell Phones</a>
                        <a class="nav-link" href="#">TV, Audio & Visual</a>
                        <a class="nav-link" href="#">Computers & Laptops</a>
                        <a class="nav-link" href="#">Gaming & Consoles</a>
                        <a class="nav-link" href="#">Computer Hardware & Accessories</a>
                        <a class="nav-link" href="#">Cameras</a>
                        <a class="nav-link" href="#">iPads & Tablets</a>
                    </nav>
                </div>
                <div class="col-md-3 mb-3">
                    <h6>Fashion & Beauty</h6>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">Clothing</a>
                        <a class="nav-link" href="#">Shoes</a>
                        <a class="nav-link" href="#">Jewellery & Accessories</a>
                        <a class="nav-link" href="#">Health, Beauty & Cosmetics</a>
                    </nav>
                </div>
                <div class="col-md-3 mb-3">
                    <h6>Vehicles</h6>
                    <nav class="nav flex-column">
                        <a class="nav-link" href="#">Cars & Bakkies</a>
                        <a class="nav-link" href="#">Car Parts & Accessories</a>
                        <a class="nav-link" href="#">Motorcycles & Scooters</a>
                        <a class="nav-link" href="#">Trucks & Commercial Vehicles</a>
                        <a class="nav-link" href="#">Caravans & Trailers</a>
                        <a class="nav-link" href="#">Motorcycles & Scooters</a>
                        <a class="nav-link" href="#">Boats & Aviation</a>
                    </nav>
                </div>
                <div class="col-md-3 mb-3">
                    <h4>Hobbies & Interests</h4>
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="#">Toys, Games & Remote Control</a>
                        <a class="nav-link" href="#">Musical Instruments</a>
                        <a class="nav-link" href="#">Art, Collectibles & Rare Items</a>
                        <a class="nav-link" href="#">Community Announcements</a>
                        <a class="nav-link" href="#">Books, CDs & DVDs</a>
                    </nav>
                </div>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex active" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <span class="lnr lnr-screen mr-2 mb-n1"></span>
                Electronics
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <ul id="collapseTwo" class="collapse drop-list" aria-labelledby="headingOne"
                data-parent="#accordion">
                <li class="list-group-item py-2 border-0">Cras justo odio</li>
                <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="true" aria-controls="collapseThree">
                <ion-icon class="mr-2" src="{{root}}assets/icons/svg/workspace.svg"></ion-icon> Home &
                Office
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <ul id="collapseThree" class="collapse drop-list" aria-labelledby="headingOne"
                data-parent="#accordion">
                <li class="list-group-item py-2 border-0">Cras justo odio</li>
                <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="true" aria-controls="collapseFour">
                <ion-icon class="mr-2" name="shirt-outline"></ion-icon> Fashion
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <ul id="collapseFour" class="collapse drop-list" aria-labelledby="headingOne"
                data-parent="#accordion">
                <li class="list-group-item py-2 border-0">Cras justo odio</li>
                <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="true" aria-controls="collapseFive">
                <ion-icon class="mr-2" name="laptop-outline"></ion-icon>Computing
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <ul id="collapseFive" class="collapse drop-list" aria-labelledby="headingOne"
                data-parent="#accordion">
                <li class="list-group-item py-2 border-0">Cras justo odio</li>
                <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseSix"
                aria-expanded="true" aria-controls="collapseSix">
                <ion-icon class="mr-2" name="game-controller-outline"></ion-icon>Toys & Games
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <div class="collapse drop-list" id="collapseSix" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="row col-md-10">
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven">
                <ion-icon class="mr-2" name="paw-outline"></ion-icon>
                Pets
                <ion-icon class="ml-auto" name="chevron-forward-outline"></ion-icon>
            </a>
            <div class="collapse drop-list" id="collapseSeven" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="row col-md-10">
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven">
                <ion-icon class="mr-2" name="home-outline"></ion-icon> Poperty
            </a>
            <div class="collapse drop-list" id="collapseSeven" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="row col-md-10">
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseSeven"
                aria-expanded="true" aria-controls="collapseSeven">
                <ion-icon class="mr-2" src="{{root}}assets/icons/svg/winch.svg"></ion-icon> Machinery
            </a>
            <div class="collapse drop-list" id="collapseSeven" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="row col-md-10">
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseEight"
                aria-expanded="true" aria-controls="collapseEight">
                <ion-icon class="mr-2" src="{{root}}assets/icons/svg/agriculture.svg"></ion-icon>
                Agriculture & Foods
            </a>
            <div class="collapse drop-list" id="collapseEight" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="row col-md-10">
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex" href="#" data-toggle="collapse" data-target="#collapseNine"
                aria-expanded="true" aria-controls="collapseNine">
                <ion-icon class="mr-2" name="ellipsis-horizontal-outline"></ion-icon>Others
            </a>
            <div class="collapse drop-list" id="collapseNine" aria-labelledby="headingOne"
                data-parent="#accordion">
                <div class="row col-md-10">
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Sub category 1</h6>
                        <ul>
                            <li class="list-group-item py-2 border-0">Cras justo odio</li>
                            <li class="list-group-item py-2 border-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item py-2 border-0">Morbi leo risus</li>
                            <li class="list-group-item py-2 border-0">Porta ac consectetur ac</li>
                            <li class="list-group-item py-2 border-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</aside>