<div class="col-md-2 d-none d-lg-block flex-grow-1">
    <aside class="special-home-right">
        <div class="card-banner flex-column border-bottom py-2">
            <ion-icon class="mx-auto nav-icon-md my-2"
                src="{{root}}assets/icons/svg/color-shop-outline.svg"></ion-icon>
            <h6 class="text-center">start Selling with us</h6>
            <div class="d-flex justify-content-around mb-2">
                <a href="/auth-login.html" class="btn btn-light btn-sm"> sign in</a>
                <a href="/auth-register.html" class="btn btn-primary btn-sm"> Sign up </a>
            </div>
        </div>
        <div class="card-banner flex-column border-bottom py-2">
            <ion-icon class="mx-auto nav-icon-md my-2" src="{{root}}assets/icons/svg/color-support.svg">
            </ion-icon>
            <h6 class="text-center">24/7 live support through live chat </h6>
        </div>

        <div class="card-banner flex-column border-bottom py-2">
            <ion-icon class="mx-auto nav-icon-md my-2"
                src="{{root}}assets/icons/svg/color-sale-outline.svg"></ion-icon>
            <h6 class="text-center">Unlimited Discounts pn most of our products</h6>
        </div>
    </aside>
</div>