.card{
    .card-header{
      max-height: 3rem;
      .btn-group{
        .btn-sm{
          padding:0px 10px;
          &:first-child {
  
          }
        }
      }
    }
  }

// buttons styles
.btn{
    @include media-breakpoint-up(xs) { margin-bottom:$spacer;}
}

// buttons styles