.card{
    .card-header{
      .btn-group{
        .btn-sm{
          padding: 0.01rem 0.5rem;
          margin-top: -.79rem !important;
          border-bottom-right-radius: 10px;
          padding:0px 10px;
          &:first-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 0px;
  
          }
        }
      }
    }
  }

// buttons styles
.btn{
    @include media-breakpoint-up(xs) { margin-bottom:$spacer;}
}

// buttons styles