/* ==== BASE STYLES ====*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './bootstrap/functions';
@import './core/variables/variables';

/* ==================== GLOBAL STYLES ======================= */

@import './node_modules/bootstrap/scss/bootstrap.scss';

/* ================== 
PAGES
=================== */
@import './pages/pages.scss';

@import './bs-extends/bs-extends.scss';

@import './core/layouts/footer';
@import './core/layouts/content';
@import './core/menu/navigation';
@import './core/menu/menu-types/horizontal-menu.scss';

// Import Icons
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
// themify
@import './helpers/mixins';
@import './helpers/bg';
@import './helpers/helper-classes';
@import './components/items';
@import './components/table';
@import './components/counter';

@import './vuesax.scss';

@import './core/themes/dark';

.slider-home-banner {
	.carousel-item {
		img {
			width: 100%;
			height: 375px;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}

.card-banner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	background-size: cover;
	background-position: center center;
	.img-bg {
		position: absolute;
		right: 0;
		bottom: 0;
		mix-blend-mode: multiply;
		max-width: 100%;
	}
}
// counter
$continer-color: #0a6cf1;
$continer-padding: 30px 20px 10px 20px;

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100%;
	user-select: none;
}

.counter-continer {
	background-color: $continer-color;
	padding: $continer-padding;
	border-radius: 8px;
	color: #fff;
	width: 450px;
	margin: auto;
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
	label {
		display: block;
	}
	.project-title {
		font-size: 9pt;
		opacity: 0.5;
	}
	.project-name {
		font-size: 16pt;
		margin: 5px 0;
	}
	.counter {
		padding: 25px;
		margin: 25px 0 15px 0;
		background-color: #000;
		font-weight: 700;
		border-radius: 8px;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
		min-height: 80px;
		div {
			display: inline-block;
		}
		.days,
		.hours,
		.minutes,
		.seconds {
			width: 25%;
			float: left;
			text-align: center;
			.value {
				display: block;
				font-size: 36pt;
				width: 100%;
				display: block;
			}
			span {
				font-size: 8pt;
				opacity: 0.8;
				width: 100%;
				display: block;
			}
		}
		.hours::before,
		.minutes::before,
		.seconds::before {
			content: ':';
			float: left;
			font-size: 20pt;
			position: relative;
			margin-top: 10px;
			opacity: 0.7;
			animation: pink 1s ease-in-out infinite;
		}
	}
}

.centerIt {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@keyframes pink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

.img-sm {
	width: 10rem;
	height: 10rem;
}

.home-category-banner .img-bg {
	position: absolute;
	right: 50px;
	bottom: 50px;
	mix-blend-mode: multiply;
	height: 260px;
}
.home-category-banner {
	position: relative;
	padding: 30px;
	height: 100%;
	overflow: hidden;
}
ul.row,
ul.row-sm {
	list-style: none;
	padding: 0;
}

.section-footer {
	background: darken($color: $primary, $amount: 48);
	ul {
		li {
			margin-bottom: 5px;
		}

		a {
			color: inherit;
			&:hover {
				color: $primary;
			}
		}
	}

	.logo-footer {
		height: 40px;
	}
	.title {
		font-weight: 600;
		margin-bottom: 16px;
		font-size: 18px;
	}
}

.footer-bottom {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid lighten($secondary, 10%);
}
.footer-copyright {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-y {
	padding-top: 30px;
	padding-bottom: 30px;
}

.nav-icon-md {
	font-size: 3.5rem;
}

.header-icons {
	font-size: 1.8rem;
	margin-bottom: -0.65rem;
	.lnr-user {
		font-size: 1.6rem;
	}
}
.right-0 {
	right: 0;
}
.card-icon {
	font-size: 1.5rem;
	color: $gray-700;
}

@media (min-width: 768px) {
	.item-card-md {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
}

.item-img {
	padding-top: 0.5rem;
	min-height: 15.85rem;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
}

.overlay-gradient:before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background: #12225b;
	background: -webkit-gradient(linear, left top, right bottom, from(#212529), to(#12225b));
	background: linear-gradient(to bottom right, #212529, #12225b);
}
.sidebar {
	position: relative;
	width: 100%;

	// For desktop only
	@include media-breakpoint-up(lg) {
		// display: table-cell;
		vertical-align: top;
		// width: $sidebar-width;
	}
}
.sidebar-fixed {
	position: fixed;
	height: 100%;
	overflow: scroll;
}

.sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1050;
	display: none;
}

.drag-target {
	height: 100%;
	width: 40px;
	position: fixed;
	top: 0;
	left: -10px;
	z-index: 1036;
}

@include media-breakpoint-up(lg) {
	.sidebar-left {
		float: left;
	}
	.sidebar-right {
		float: right;
	}
}

.brand-wrap .logo,
.navbar-brand .logo {
	margin-right: 7px;
	max-height: 34px;
	display: inline-block;
}

.mt-n6,
.my-n6 {
	margin-top: -5rem !important;
}

.logo-icon {
	font-size: 8rem;
}
// svg styles
svg {
	.a {
		fill: lighten($color: $primary, $amount: 30);
	}
	.b,
	.c {
		fill: $primary;
	}
	.c {
		stroke: rgba(0, 0, 0, 0);
		stroke-miterlimit: 10;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

.menu {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	overflow: hidden;
}

.menu img:not(:first-child) {
	display: none;
}

.select-payment-btn {
	&.active {
		color: #212529;
		background-color: lighten($color: $primary, $amount: 49);
		border: solid 1px $primary !important;
	}
}
// shopping cart
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1050;
	top: 0;
	right: 0;
	overflow-x: hidden;
	background: $body-bg;
	transition: width 0.5s;
}

.cart-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1049;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: background-color 0.5s;
	background-color: rgba(0, 0, 0, 0.4);
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.cart-item-img {
	padding-top: 0.5rem;
	min-height: 5rem;
	img {
		height: 5rem;
	}
}

.border-primary {
	border: solid 1px $primary;
}

.widget-view {
	cursor: pointer;
}
.dropdown-user .dropdown-toggle::after {
	display: none;
}

.category-menu {
	.category-menu-icon {
		font-size: 2rem;
	}
	.dropdown-toggle::after {
		display: none;
	}
}

.lr-only {
	@include media-breakpoint-down(md) {
		display: none !important;
	}
}

.bread-overlay {
	height: 15rem;
	width: 100%;
	top: 3rem;
	position: fixed;
	background: $gray-300;
	left: 0;
	z-index: -1;
}

// shopping cart class

.cart-area {
	width: 350px !important;
	.cart-wrapper{
		width: 350px !important;
	}
	@include media-breakpoint-down(md) {
		width: 100% !important;
	}
}

/* fix blank or flashing items on carousel */
/* end fix */
.owl-nav {
	button {
		position: absolute;
		top: 50%;
		background-color: #000;
		color: #fff;
		margin: 0;
		transition: all 0.3s ease-in-out;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: rgba(255, 255, 255, 0.38) !important;
		&:focus {
			outline: none;
		}
	}
	button.owl-prev {
		left: 0;
	}
	button.owl-next {
		right: 0;
	}
}
.owl-dots {
	text-align: center;
	padding-top: 15px;
	button.owl-dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		display: inline-block;
		background: #ccc;
		margin: 0 3px;
		&:focus {
			outline: none;
		}
	}
	button.owl-dot.active {
		background-color: #000;
	}
}

.list-group-item {
	&.collapsed {
		color: $gray-500;
	}
}

.mt-r-2 {
	margin-top: 4.5rem !important;
	@include media-breakpoint-down(md) {
		margin-top: 4.2rem !important;
	}
}

$height: 28px;
$width: $height * 2;
//$transition-time: 0.3s;

.switch input[type='checkbox'] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch label {
	cursor: pointer;
	width: $width;
	height: $height;
	background: $primary;
	display: block;
	border-radius: $height / 4;
	position: relative;
}

.switch label:before {
	font-family: "Linearicons-Free";
	content: "\e808";
	position: absolute;
	top: -.2rem;
	right: 0;
	font-size: $height * 0.5;
	top: -.2rem;
	padding: ($height / 4) ($height / 4);
	color: white;
}

.switch input:checked + label:before {
	font-family: "Linearicons-Free";
	content: "\e807";
	position: absolute;
	left: 0;
	font-size: $height * 0.5;
	padding-left: $height / 4;
	color: white;
}

.switch label:after {
	content: '';
	position: absolute;
	top: $height * 0.05;
	left: $height * 0.05;
	width: $height * 0.9;
	height: $height * 0.9;
	background: #fff;
	border-radius: $height / 5;
	//transition: $transition-time;
}

.switch input:checked + label {
	background: lightgray;
	//transition: $transition-time;
}

.switch input:checked + label:after {
	//left: calc(100% - 0.1rem);
	//transform: translateX(-100%);
	transform: translateX($width - $height);
}

.bread-overlay-shop {
	height: 16.8rem !important;
}
.search-bar {
	.input-group-text,
	input {
		background: #f4f7f8;
		border: none;
	}
}

.drop-list {
	position: absolute;
	z-index: 2;
	border: solid 1px;
	background: #ffffffea;
	top: 0;
}

#stripes {
	height: 100vh;
	background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
	clip-path: polygon(100% 0, 100% 70%, 0 99%, 0 0);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	&:nth-child(1) {
		grid-area: 1 / 1 / span 4 / span 2;
		background-color: #53f;
		clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
	}
	&:nth-child(2) {
		grid-area: 1 / 3 / span 3 / span 2;
		background-color: #4553ff;
		clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
		transform: translateY(-30px);
	}
	&:nth-child(3) {
		grid-area: 1 / 5 / span 2 / span 2;
		background-color: #4f40ff;
		clip-path: polygon(0 0, 100% 0, 99% 5%, 0 70%);
	}
	&:nth-child(4) {
		grid-area: 3 / 11 / span 3 / span 2;
		clip-path: polygon(0 23%, 100% 0%, 100% 77%, 0% 100%);
		background-color: #0dcfff;
	}
	&:nth-child(5) {
		grid-area: 8 / 1 / span 5 / span 4;
		clip-path: polygon(0 23%, 100% 0%, 100% 80%, 0% 100%);
		transform: translateY(10px);
		background-color: #1fa2ff;
	}
}

.bg-light-orange {
	background-color: rgba(0, 0, 0, 0.904);
}

.with-overlay {
	background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.644)), url('../images/banners/ad.png');
	background-position: right;
	background-repeat: no-repeat;
	// @include media-breakpoint-down(md) {
	// 	height: 35%;
	// }
	height: 100%;
}

.btn-facebook {
	background-color: #405d9d !important;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.btn-instagram {
	background-color: #e52d27;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.btn-youtube {
	background-color: #c8046c;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
.btn-twitter {
	background-color: #42aeec;
	color: #fff;
	@extend %fa-icon;
	@extend .fab;
	&:hover {
		color: #fff;
	}
	&:before {
		content: fa-content($fa-var-twitter);
	}
}
.btn-google {
	background-color: #af0000;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.w-0 {
	width: 0px !important;
	overflow: hidden;
	transition: 0.5s;
}

.c-badge {
    position: absolute;
    background: $primary;
    // box-shadow: 0 4px 10px 0 rgba(119, 119, 119, 0.6);
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6rem;
    border-radius: 50%;
    z-index: 120;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.badge-cart{
	top: .5rem;
    right: 1.1rem;
}