html {
	font-size: $base-font-size;
	height: 100%;
	letter-spacing: 0.01rem;
}

body {
	height: 100%;
	overflow-x: hidden;
	padding-top: 2.5rem;
}

.content {
	padding: 0;
	position: relative;
	backface-visibility: hidden;
	min-height: calc(100% - 4rem);
}
.app-content {
	overflow: hidden;
	&.show-overlay {
		.content-overlay {
			z-index: 10;
			opacity: 1;
			~ .header-navbar-shadow {
				background: linear-gradient(180deg, rgba(44, 48, 60, 0.9) 44%, rgba(44, 48, 60, 0.43) 73%, rgba(44, 48, 60, 0));
			}
		}
	}
	.content-overlay {
		position: fixed;
		opacity: 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($pure-black, 0.5);
		cursor: pointer;
		transition: all 0.7s;
		z-index: -1;
	}
	.content-area-wrapper {
		height: calc(100% - #{$navbar-height});
		margin: calc(#{$navbar-height} + 2.7rem) #{$content-padding} 0;
		// padding: calc(#{$content-padding} - 0.4rem) #{$content-padding};
		display: flex;
		position: relative;
		.content-wrapper {
			margin-top: 0;
			height: calc(100vh - 13rem);
			height: calc(var(--vh, 1vh) * 100 - 13rem);
		}
	}
}

.content-wrapper {
	.content-header-title {
		font-weight: 500;
		color: $black;
		margin-right: $spacer;
	}
	.content-header-right {
		.dropdown-toggle {
			&::after {
				display: none;
			}
			i {
				margin-right: 0;
			}
		}
		.btn-icon {
			padding: 0.8rem;
			i {
				font-size: $font-size-base;
			}
		}
	}
}

.fixed-footer {
	.app-content {
		margin-bottom: 3rem;
	}
}

.bg-full-screen-image {
	background: url(../../assets/images/pages/vuexy-login-bg.jpg) no-repeat center center;
	background-size: cover;
}

[data-col='1-column'] {
	.content,
	.footer {
		margin-left: 0px !important;
	}
}

.pace-progress {
	background: $primary;
}

.center-layout {
	overflow: hidden;
}

/*
* Col 3 layout for detached and general type
*/

@include media-breakpoint-up(lg) {
	body {
		// Normal sidebar
		.content-right {
			width: calc(100vw - (100vw - 100%) - #{$sidebar-width});
			float: right;
		}
		.content-left {
			width: calc(100vw - (100vw - 100%) - #{$sidebar-width});
			float: left;
		}
		// Detached sidebar
		.content-detached {
			width: 100%;
			&.content-right {
				float: right;
				margin-left: -$sidebar-width;
				.content-body {
					margin-left: $sidebar-width;
				}
			}
			&.content-left {
				float: left;
				margin-right: -$sidebar-width;
				.content-body {
					margin-right: calc(#{$sidebar-width} + #{$content-padding});
				}
			}
		}
	}
	.sidebar-right.sidebar-sticky {
		float: right !important;
		margin-left: -$sidebar-width;
		width: $sidebar-width !important;
		margin-top: $navbar-height + 1;
	}
}

.truncate {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

@include media-breakpoint-down(sm) {
	 .content-wrapper {
		padding: 0;
	}
}

@include media-breakpoint-down(xs) {
	.navbar-static,
	.navbar-sticky {
		.app-content {
			.header-navbar {
				.navbar-container {
					padding-left: 1rem;
					padding-right: 0.5rem;
				}
			}
		}
	}
}

// For Fullscreen IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html.full-screen {
		width: 100%;
		.content.app-content {
			height: 100%;
			overflow: scroll;
			overflow-x: hidden;
		}
	}
}
