<!-- Brands -->
<div class="brands">
    <div class="brand-title mt-1 pb-1">
        <h6 class="filter-title mb-0">Brands</h6>
    </div>
    <div class="brand-list" id="brands">
        <ul class="list-unstyled">
            {{#each brands}}
            <li class="d-flex justify-content-between align-items-center py-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{this.name}}">
                    <label class="custom-control-label" for="{{this.name}}">{{this.name}}</label>
                  </div>
                  <span>{{this.total}}</span>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<hr>