<!-- Categories Starts -->
<div id="product-categories">
    <span data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="categories"
        data-parent="#filter-Sidenav">
        <h6>Categories</h6>
        <span></span>
    </span>
    <div class="d-flex">
        <div class="input-group search-bar ">
            <input type="text" class="form-control search-bar fuzzy-search" placeholder="Search Category">
            <div class="input-group-append">
                <span class="va va-magnifier  bg-light input-group-text rounded"></span>
            </div>
        </div>
    </div>
    <div class="collapse show mt-3" id="categories">
        <nav class="nav flex-column list">
            {{#each categories}}
            <a class="nav-link px-0" href="#">
                <input class="d-none" type="radio" name="categories" id="{{this.name}}">
                <label for="{{this.name}}" class="mb-0">
                    <span class="va va-{{this.icon}} btn p-1 mr-2 border-0"></span>
                    <span class="name">{{this.name}}</span>
                </label>
            </a>
            {{/each}}
        </nav>

        {{> _pagination}}
    </div>
</div>
<hr>