<!-- Categories Starts -->
<div id="product-categories">
    <span data-toggle="collapse" data-target="#categories" aria-expanded="false" aria-controls="categories"
        data-parent="#filter-Sidenav">
        <h6>Categories</h6>
        <span></span>
    </span>
    <div class="d-flex">
        <div class="input-group search-bar ">
            <input type="search" class="form-control search-bar fuzzy-search" placeholder="Search Category">
            <div class="input-group-append">
                <span class="va va-magnifier  bg-light input-group-text"></span>
            </div>
        </div>
    </div>
    <div class="collapse show mt-3" id="categories">
        <nav class="nav flex-column list">
            {{#each categories}}
            <a class="nav-link px-0" href="#">
                <!-- <input class="d-none" type="radio" name="categories" id="{{this.slug}}"> -->
                <label class="d-flex mb-0" for="{{this.slug}}" class="mb-0">
                    <input class="d-none" type="radio" name="categories" id="{{this.slug}}">
                    <span class="va va-checkmark"></span>
                    <span class="name">{{this.name}}</span>
                </label>
            </a>
            {{/each}}
        </nav>
    </div>
</div>
<hr>