<!-- discount section starts -->
<div id="discounts">
    <span class="d-flex mb-2" data-toggle="collapse" data-target="#discount" aria-expanded="false" aria-controls="discount"
        data-parent="#filter-Sidenav">
        <h6>Discounts</h6>
        <span class="collapse-icon"></span>
    </span>
    <div class="collapse mt-3 show" id="discount">
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="80">
                <input class="d-none" type="radio" name="discount" id="80">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text">80% or more</span>
            </label>
            <div class="stars-received">(20)</div>
        </div>
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="60">
                <input class="d-none" type="radio" name="discount" id="60">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text">60% or more</span>
            </label>
            <div class="stars-received">(154)</div>
        </div>
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="40">
                <input class="d-none" type="radio" name="discount" id="40">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text">40% or more</span>
            </label>
            <div class="stars-received">(1230)</div>
        </div>
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="20">
                <input class="d-none" type="radio" name="discount" id="20">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text">20% or more</span>
            </label>
            <div class="stars-received">(3555)</div>
        </div>
    </div>
</div>
<!-- discount section Ends -->
<hr>