<div class="filter-sidenav rounded" id="filter-Sidenav">
    <div class="W-100 filter-wrapper">
        <span class="va va-cross sidebar-close-icon d-block d-md-none btn shadow close mr-n3"></span>
        <div class="card mb-4">
            <form class="card-body">
                {{> _categories}}
                {{> _price-range}}
                {{> _discount}}
                {{> _ratings}}
                <div id="clear-filters">
                    <button class="btn btn-block btn-primary">
                        CLEAR ALL FILTERS
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>