<div class="filter-sidenav rounded shadow-sm" id="filter-Sidenav">
    <div class="w-260">
        <span class="sidebar-close-icon d-block d-md-none">
            <span class="va va-cross btn btn-primary"></span>
        </span>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                {{> _categories}}
                {{> _price-range}}
                {{> _discount}}
                {{> _brands}}
                {{> _ratings}}
                <div id="clear-filters">
                    <button class="btn btn-block btn-primary">
                        CLEAR ALL FILTERS
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
