<div class="multi-range-price">
    <div class="multi-range-title pb-75">
        <h6 class="filter-title mb-0">Multi Range</h6>
    </div>
    <ul class="list-unstyled price-range" id="price-range">
        <li>
            <span class="vs-radio-con vs-radio-primary py-2">
                <input type="radio" name="price-range" checked="" value="false">
                <span class="vs-radio">
                    <span class="vs-radio--border"></span>
                    <span class="vs-radio--circle"></span>
                </span>
                <span class="">All</span>
            </span>
        </li>
        <li>
            <span class="vs-radio-con vs-radio-primary py-2">
                <input type="radio" name="price-range" value="false">
                <span class="vs-radio">
                    <span class="vs-radio--border"></span>
                    <span class="vs-radio--circle"></span>
                </span>
                <span class=""> &lt;=$10</span>
            </span>
        </li>
        <li>
            <span class="vs-radio-con vs-radio-primary py-2">
                <input type="radio" name="price-range" value="false">
                <span class="vs-radio">
                    <span class="vs-radio--border"></span>
                    <span class="vs-radio--circle"></span>
                </span>
                <span class="">$10 - $100</span>
            </span>
        </li>
        <li>
            <span class="vs-radio-con vs-radio-primary py-2">
                <input type="radio" name="price-range" value="false">
                <span class="vs-radio">
                    <span class="vs-radio--border"></span>
                    <span class="vs-radio--circle"></span>
                </span>
                <span class="">$100 - $500</span>
            </span>
        </li>
        <li>
            <span class="vs-radio-con vs-radio-primary py-2">
                <input type="radio" name="price-range" value="false">
                <span class="vs-radio">
                    <span class="vs-radio--border"></span>
                    <span class="vs-radio--circle"></span>
                </span>
                <span class="">&gt;= $500</span>
            </span>
        </li>

    </ul>
</div>
<!-- /Price Filter -->
<hr>