<div class="multi-range-price">
    <div class="multi-range-title d-flex">
        <h6 class="filter-title mb-0">Price Range</h6>
        <span class="collapse-icon"></span>
    </div>
    <ul class="list-unstyled price-range" id="price-range">
        <!-- With number fields -->
        <div class="filter level-filter level-req">
            <div id="rangeSlider" class="range-slider">
                <div class="range-group">
                    <input class="range-input" value="1" min="1" max="2000" step="1" type="range" id="from"/>
                    <input class="range-input" value="2000" min="1" max="2000" step="1" type="range" id="to"/>
                </div>
                <div class="number-group mt-4 text-center">
                    <input class="number-input bg-light-200" type="number" value="1" min="0" max="2000" /> 
                    To : 
                    <input class="number-input bg-light-200" type="number" value="2000" min="0" max="2000" />
                </div>
            </div>
        </div>
    </ul>
</div>
<!-- /Price Filter -->
<hr>