<!-- Rating section starts -->
<div id="ratings">
    <span class="d-flex mb-2" data-toggle="collapse" data-target="#rating" aria-expanded="false" aria-controls="rating"
        data-parent="#filter-Sidenav">
        <h6>Ratings</h6>
        <span class="collapse-icon"></span>
    </span>
    <div class="collapse mt-3 show" id="rating">
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="4">
                <input class="d-none" type="radio" name="rating" id="4">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text d-flex">
                    <div class="read-only mr-2" data-rating="4"></div>& up
                </span>
            </label>
            <div class="stars-received">(160)</div>
        </div>
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="3">
                <input class="d-none" type="radio" name="rating" id="3">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text d-flex">
                    <span class="read-only mr-2" data-rating="3"></span>& up
                </span>
            </label>
            <div class="stars-received">(176)</div>
        </div>
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="2">
                <input class="d-none" type="radio" name="rating" id="2">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text d-flex">
                    <div class="read-only mr-2" data-rating="2"></div>& up
                </span>
            </label>
            <div class="stars-received">(291)</div>
        </div>
        <div class="d-flex justify-content-between py-2">
            <label class="d-flex mb-0" for="1">
                <input class="d-none" type="radio" name="rating" id="1">
                <span class="va va-checkmark"></span>
                <span class="filter-item-text d-flex">
                    <div class="read-only mr-2" data-rating="1"></div>& up
                </span>
            </label>
            <div class="stars-received">(190)</div>
        </div>
    </div>
</div>
<!-- Rating section Ends -->
<hr>