<div class="px-2">
    <ul class="container nav nav-pills profile-nav  mb-3 bg-white p-2 shadow-sm align-items-center">
        <li class="nav-item">
            <img src="{{root}}assets/images/portrait/small/avatar-s-12.jpg"
                class="profile-avatar rounded-circle img-border box-shadow-1" alt="avatar" />
        </li>
        <ul class="nav nav-item collapse navbar-collapse d-md-flex" id="profileNav">
            <div class="m-auto d-flex flex-column flex-sm-row w-100">
                <li class="nav-item text-center">
                    <a class="nav-link {{#ifpage 'profile'}} active {{/ifpage}}" href="{{root}}profile/profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-wishlist'}} active {{/ifpage}}"
                        href="{{root}}profile/profile-wishlist.html">Whishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-orders'}} active {{/ifpage}}" href="{{root}}profile/profile-orders.html">My
                        Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-addresses'}} active {{/ifpage}}"
                        href="{{root}}profile/profile-addresses.html">My Shipping Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-viewed-products'}} active {{/ifpage}}"
                        href="{{root}}profile/profile-viewed-products.html">My Recently viewed products</a>
                </li>
            </div>
        </ul>
        <li class="nav-item ml-auto mt-md-n4 order-0 order-sm-2">
            <a data-toggle="tooltip" data-original-title="Edit Profile"
                class="btn btn-sm btn-primary ml-auto p-2" href="{{root}}profile/profile-edit.html"><span class="lnr lnr-pencil"></span>
            </a>
            <a data-toggle="tooltip" data-original-title="settings"
                class="btn btn-sm btn-primary ml-auto p-2" href="{{root}}profile/profile-viewed-products.html">
                <span class="lnr lnr-cog"></span>
            </a>
            <button class="btn btn-sm btn-primary d-md-none p-2" type="button" data-toggle="collapse"
                data-target="#profileNav" aria-controls="profileNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
            </button>
        </li>
    </ul>
</div>