<div class="px-2 container">
    <ul class="nav flex-nowrap nav-pills profile-nav  mb-3 bg-white p-2 shadow-sm align-items-center rounded">
        <li class="nav-item">
            <img src="{{root}}assets/images/avatar/avatar-1.jpg"
                class="profile-avatar rounded-circle img-border box-shadow-1" alt="avatar" />
        </li>
        <li class="nav nav-item collapse navbar-collapse d-md-flex" id="profileNav">
            <ul class="m-auto d-flex flex-column flex-sm-row w-100">
                <li class="nav-item text-center ml-0 ml-sm-5">
                    <a class="nav-link {{#ifpage 'profile'}} active {{/ifpage}}" href="{{root}}profile/profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-wishlist'}} active {{/ifpage}}"
                        href="{{root}}profile/profile-wishlist.html">Whishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-orders' 'profile-order-details'}} active {{/ifpage}}" href="{{root}}profile/profile-orders.html">My
                        Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-addresses'}} active {{/ifpage}}"
                        href="{{root}}profile/profile-addresses.html">Shipping Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#ifpage 'profile-viewed-products'}} active {{/ifpage}}"
                        href="{{root}}profile/profile-viewed-products.html">Viewed products</a>
                </li>
            </ul>
        </li>
        <li class="nav-item d-flex order-0 ml-auto ml-sm-2 order-sm-2">
            <a data-toggle="tooltip" data-original-title="Edit Profile"
                class="btn btn-sm btn-primary ml-auto p-2" href="{{root}}profile/profile-edit.html"><span class="va va-compose"></span>
            </a>
            <a data-toggle="tooltip" data-original-title="settings"
                class="btn btn-sm btn-primary ml-2 p-2" href="{{root}}profile/profile-edit.html">
                <span class="va va-cog"></span>
            </a>
            <button class="btn btn-sm btn-primary d-md-none p-2 ml-2" type="button" data-toggle="collapse"
                data-target="#profileNav" aria-controls="profileNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="va va-menu"></span>
            </button>
        </li>
    </ul>
</div>