
.btn-icon {
	width: $input-height;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	i {
		line-height: 1;
	}
}


.btn-light.active i {
	color: $primary;
}

.btn {
	.text + i {
		margin-left: 10px;
	}
	i + .text {
		margin-left: 10px;
	}
}
