
.btn-icon {
	width: $input-height;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	i {
		line-height: 1;
	}
}

.btn-light {
	background-color: #fff;
	border-color: $border-color;
	i {
		color: $gray-500;
	}
	&:hover {
		background-color: #fff;
		border-color: darken($border-color, 30%);
	}
}

.btn-light.active i {
	color: $primary;
}

.btn {
	.text + i {
		margin-left: 10px;
	}
	i + .text {
		margin-left: 10px;
	}
}
