@font-face {
  font-family: 'vamoo';
  src:  url('fonts/vamoo.eot?20d0o4');
  src:  url('fonts/vamoo.eot?20d0o4#iefix') format('embedded-opentype'),
    url('fonts/vamoo.ttf?20d0o4') format('truetype'),
    url('fonts/vamoo.woff?20d0o4') format('woff'),
    url('fonts/vamoo.svg?20d0o4#vamoo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.va {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vamoo' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.va-checkmark:before {
  content: "\e921";
}
.va-checkmark-circle:before {
  content: "\e95e";
}
.va-apartments:before {
  content: "\e95b";
}
.va-cross:before {
  content: "\e95c";
}
.va-trash:before {
  content: "\e900";
}
.va-menu:before {
  content: "\e901";
}
.va-search:before {
  content: "\e902";
}
.va-sun:before {
  content: "\e903";
}
.va-cog:before {
  content: "\e904";
}
.va-tag:before {
  content: "\e905";
}
.va-twitter:before {
  content: "\e906";
}
.va-google:before {
  content: "\e907";
}
.va-youtube:before {
  content: "\e908";
}
.va-facebook:before {
  content: "\e909";
}
.va-game-controller:before {
  content: "\e90a";
}
.va-solid-star:before {
  content: "\e90b";
}
.va-star:before {
  content: "\e90c";
}
.va-solid-cart:before {
  content: "\e90d";
}
.va-cart:before {
  content: "\e90e";
}
.va-earth:before {
  content: "\e90f";
}
.va-solid-heart:before {
  content: "\e910";
}
.va-heart:before {
  content: "\e911";
}
.va-mail-open:before {
  content: "\e912";
}
.va-mail-unread:before {
  content: "\e913";
}
.va-mail:before {
  content: "\e914";
}
.va-gift:before {
  content: "\e915";
}
.va-paw:before {
  content: "\e916";
}
.va-rocket:before {
  content: "\e917";
}
.va-tv:before {
  content: "\e918";
}
.va-chev-right:before {
  content: "\e919";
}
.va-chev-top:before {
  content: "\e91a";
}
.va-chev-left:before {
  content: "\e91b";
}
.va-chev-down:before {
  content: "\e91c";
}
.va-shirt:before {
  content: "\e91d";
}
.va-phone:before {
  content: "\e91e";
}
.va-house:before {
  content: "\e91f";
}
.va-card:before {
  content: "\e920";
}
.va-un-link-expo:before {
  content: "\e923";
}
.va-unlink:before {
  content: "\e924";
}
.va-link:before {
  content: "\e927";
}
.va-solid-doted-lock:before {
  content: "\e928";
}
.va-solid-lock:before {
  content: "\e929";
}
.va-lock:before {
  content: "\e92e";
}
.va-compose:before {
  content: "\e92f";
}
.va-printer:before {
  content: "\e932";
}
.va-color-printer .path1:before {
  content: "\e933";
  color: rgb(255, 0, 0);
}
.va-color-printer .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.va-color-printer .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.va-color-printer .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.va-solid-printer:before {
  content: "\e937";
}
.va-solid-user:before {
  content: "\e938";
}
.va-user:before {
  content: "\e939";
}
.va-moon:before {
  content: "\e93a";
}
.va-solid-moon:before {
  content: "\e93b";
}
.va-solid-store:before {
  content: "\e93c";
}
.va-store:before {
  content: "\e93d";
}
.va-arrow-top:before {
  content: "\e941";
}
.va-arrow-left:before {
  content: "\e942";
}
.va-arrow-down:before {
  content: "\e943";
}
.va-arrow-right:before {
  content: "\e944";
}
.va-arrow-up-circle:before {
  content: "\e945";
}
.va-arrow-right-circle:before {
  content: "\e946";
}
.va-arrow-down-circle:before {
  content: "\e947";
}
.va-arrow-left-circle:before {
  content: "\e948";
}
.va-solid-arrow-up-circle:before {
  content: "\e94f";
}
.va-solid-arrow-left-circle:before {
  content: "\e950";
}
.va-solid-arrow-down-circle:before {
  content: "\e951";
}
.va-solid-arrow-right-circle:before {
  content: "\e952";
}
.va-regular-arrow-right-circle:before {
  content: "\e953";
}
.va-solid-bell:before {
  content: "\e956";
}
.va-bell:before {
  content: "\e95a";
}
