$vamoo-font-family: 'vamoo' !default;
$vamoo-font-path: '../icons/vamoo/fonts' !default;

$va-checkmark: '\e921';
$va-checkmark-circle: '\e95e';
$va-apartments: '\e95b';
$va-cross: '\e95c';
$va-trash: '\e900';
$va-menu: '\e901';
$va-search: '\e902';
$va-sun: '\e903';
$va-cog: '\e904';
$va-tag: '\e905';
$va-twitter: '\e906';
$va-google: '\e907';
$va-youtube: '\e908';
$va-facebook: '\e909';
$va-game-controller: '\e90a';
$va-solid-star: '\e90b';
$va-star: '\e90c';
$va-solid-cart: '\e90d';
$va-cart: '\e90e';
$va-earth: '\e90f';
$va-solid-heart: '\e910';
$va-heart: '\e911';
$va-mail-open: '\e912';
$va-mail-unread: '\e913';
$va-mail: '\e914';
$va-gift: '\e915';
$va-paw: '\e916';
$va-rocket: '\e917';
$va-tv: '\e918';
$va-chev-right: '\e919';
$va-chev-top: '\e91a';
$va-chev-left: '\e91b';
$va-chev-down: '\e91c';
$va-shirt: '\e91d';
$va-phone: '\e91e';
$va-house: '\e91f';
$va-card: '\e920';
$va-un-link-expo: '\e923';
$va-unlink: '\e924';
$va-link: '\e927';
$va-solid-doted-lock: '\e928';
$va-solid-lock: '\e929';
$va-lock: '\e92e';
$va-compose: '\e92f';
$va-printer: '\e932';
$va-color-printer-path1: '\e933';
$va-color-printer-path2: '\e934';
$va-color-printer-path3: '\e935';
$va-color-printer-path4: '\e936';
$va-solid-printer: '\e937';
$va-solid-user: '\e938';
$va-user: '\e939';
$va-moon: '\e93a';
$va-solid-moon: '\e93b';
$va-solid-store: '\e93c';
$va-store: '\e93d';
$va-arrow-top: '\e941';
$va-arrow-left: '\e942';
$va-arrow-down: '\e943';
$va-arrow-right: '\e944';
$va-arrow-up-circle: '\e945';
$va-arrow-right-circle: '\e946';
$va-arrow-down-circle: '\e947';
$va-arrow-left-circle: '\e948';
$va-solid-arrow-up-circle: '\e94f';
$va-solid-arrow-left-circle: '\e950';
$va-solid-arrow-down-circle: '\e951';
$va-solid-arrow-right-circle: '\e952';
$va-regular-arrow-right-circle: '\e953';
$va-solid-bell: '\e956';
$va-bell: '\e95a';
