<div class="my-4">

    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <div class="col-md-3 mb15">
            <article class="card card-body">
                <figure class="text-center">
                    <span class="rounded-circle icon-md bg-primary"><i class="fa fa-user white"></i></span>
                    <figcaption class="pt-4">
                        <h5 class="title">Creative Strategy &amp; solution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-3 mb15">
            <article class="card card-body">
                <figure class="text-center">
                    <span class="rounded-circle icon-md bg-danger"><i class="fa fa-truck white"></i></span>
                    <figcaption class="pt-4">
                        <h5 class="title">Creative Strategy &amp; solution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-3 mb15">
            <article class="card card-body">
                <figure class="text-center">
                    <span class="rounded-circle icon-md bg-success"><i class="fa fa-star white"></i></span>
                    <figcaption class="pt-4">
                        <h5 class="title">Creative Strategy &amp; solution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-3 mb15">
            <article class="card card-body">
                <figure class="text-center">
                    <span class="rounded-circle icon-md bg-secondary"><i class="far fa-clock white"></i></span>
                    <figcaption class="pt-4">
                        <h5 class="title">Creative Strategy &amp; solution</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
    </div>
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    <br>

    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">
        <div class="col-md-4">
            <article class="card card-body">
                <figure class="itemside">
                    <div class="aside">
                        <span class="icon-sm rounded-circle bg-primary">
                            <i class="fa fa-money-bill-alt white"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h5 class="title">Reasonable prices</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-4">
            <article class="card card-body">
                <figure class="itemside">
                    <div class="aside">
                        <span class="icon-sm rounded-circle bg-secondary">
                            <i class="fa fa-comment-dots white"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h5 class="title">Customer support 24/7 </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
        <div class="col-md-4">
            <article class="card card-body">
                <figure class="itemside">
                    <div class="aside">
                        <span class="icon-sm rounded-circle bg-success">
                            <i class="fa fa-truck white"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h5 class="title">Quick delivery</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </article>
            <!-- panel-lg.// -->
        </div>
        <!-- col // -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 2 END .// ================================= -->

    <br>

    <!-- ============================ COMPONENT 3 ================================= -->
    <article class="card card-body">


        <div class="row">
            <div class="col-md-4">
                <figure>
                    <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
                    <figcaption class="pt-3">
                        <h5 class="title">Fast delivery</h5>
                        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </div>
            <!-- col // -->
            <div class="col-md-4">
                <figure>
                    <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>
                    <figcaption class="pt-3">
                        <h5 class="title">Creative Strategy</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </div>
            <!-- col // -->
            <div class="col-md-4">
                <figure>
                    <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
                    <figcaption class="pt-3">
                        <h5 class="title">High secured </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        </p>
                    </figcaption>
                </figure>
                <!-- iconbox // -->
            </div>
            <!-- col // -->
        </div>
    </article>
    <!-- card.// -->
    <!-- ============================ COMPONENT 3 END .// ================================= -->



    <br><br>


</div>