<header class="section-header bg-white my-4 shadow-sm">
    <section class="header-main border-bottom">
        <div class="container py-2">
            <div class="row align-items-center">
                <div class="col-lg-3 col-sm-4 col-md-4 col-5">
                    <a href="{{root}}" class="brand-wrap">
                        {{> _logo}}
                    </a>
                </div>
                <div class="col-lg-4 col-xl-5 col-sm-8 col-md-4 d-none d-md-block">
                    <form action="#" class="p-1 border-primary rounded-sm">
                        <div class="input-group w-100">
                            <input type="text" class="form-control form-control-sm border-0" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm rounded-sm" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 col-xl-4 col-sm-8 col-md-4 col-7">
                    <div class="widgets-wrap d-flex justify-content-end align-items-center">
                        <div class="widget-header d-flex align-items-center">
                            <a href="#" class="ml-4 icontext">
                                <div class="icon"><i class="text-primary fa fa-lg fa-heart"></i></div>
                                <div class="text d-none d-sm-inline">
                                    <small class="text-muted">Favorites</small>
                                    <div>0 item</div>
                                </div>
                            </a>
                        </div>
                        <div class="widget-header d-flex align-items-center">
                            <a href="#" class="ml-4 icontext">
                                <div class="icon"><i class="text-primary fa fa-lg fa-shopping-cart"></i></div>
                                <div class="text d-none d-sm-inline">
                                    <small class="text-muted">Cart</small>
                                    <div>3 items</div>
                                </div>
                            </a>
                        </div>
                        <div class="widget-header dropdown d-flex align-items-center">
                            <a href="#" class="ml-4 icontext" data-toggle="dropdown" data-offset="20,10">
                                <div class="icon"><i class="text-primary fa fa-lg fa-user"></i></div>
                                <div class="text d-none d-sm-inline">
                                    <small class="text-muted">Hello.</small>
                                    <div>Login <i class="fa fa-caret-down"></i></div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Profile setting</a>
                                <a class="dropdown-item" href="#">My orders</a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item" href="#">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-expand-md navbar-light navbar-main border-bottom">
        <div class="container d-flex">
            <form action="#" class="p-1 border-primary rounded-sm d-md-none my-2 flex-fill">
                <div class="input-group w-100">
                    <input type="text" class="form-control form-control-sm border-0" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm rounded-sm" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#dropdown6">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="dropdown6">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"> All
                            categories</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="page-category.html">Foods and Drink</a>
                            <a class="dropdown-item" href="page-category.html">Home interior</a>
                            <a class="dropdown-item" href="page-category.html">Computer electronics</a>
                            <a class="dropdown-item" href="page-category.html">Clothing</a>
                            <a class="dropdown-item" href="page-category.html">Gardening and flowers</a>
                            <a class="dropdown-item" href="page-category.html">Hand made items</a>
                            <a class="dropdown-item" href="page-category.html">Smartphones</a>
                            <a class="dropdown-item" href="page-category.html">Digital products</a>
                        </div>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="page-deal.html">Hot deals</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="page-blog.html">Markets</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="page-blog.html">Blog</a> </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="btn btn-primary ml-md-4"><i class="fa fa-plus"></i> Post
                            item </a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<header class="section-header bg-white my-4 shadow-sm">
    <section class="navbar-light border-bottom">
        <div class="container">
            <nav class="d-flex align-items-center justify-content-between">
                <ul class="nav mr-md-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link pl-0 dropdown-toggle" data-toggle="dropdown"> USD </a>
                        <ul class="dropdown-menu small">
                            <li><a class="dropdown-item" href="#">EUR</a></li>
                            <li><a class="dropdown-item" href="#">AED</a></li>
                            <li><a class="dropdown-item" href="#">RUBL </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Language </a>
                        <ul class="dropdown-menu small">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                            <li><a class="dropdown-item" href="#">Russian </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-user-circle"></i><span class="d-none d-sm-inline ml-2">My Account</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-heart"></i><span class="d-none d-sm-inline ml-2">Wishlist</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-shopping-cart"></i><span class="d-none d-sm-inline ml-2">My Cart</span>
                            <span class="badge badge-pill badge-danger">1</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="border-bottom">
        <nav class="navbar navbar-main  navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{root}}">
                    {{> _logo}}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav2"
                    aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="main_nav2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Supermarket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Electronics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fitness sport</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                href="http://example.com">More</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Foods and Drink</a>
                                <a class="dropdown-item" href="#">Home interior</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Category 1</a>
                                <a class="dropdown-item" href="#">Category 2</a>
                                <a class="dropdown-item" href="#">Category 3</a>
                            </div>
                        </li>
                    </ul>

                    <form action="#" class="p-1 border-primary rounded-sm form-inline my-2 my-lg-0 col-md-6">
                        <div class="input-group w-100">
                            <input type="text" class="form-control form-control-sm border-0" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm rounded-sm" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div> <!-- collapse .// -->
            </div>
        </nav>
    </section>
</header>