<li class="list-group-item border-0 d-flex align-items-center pt-4">
	<span class="p-3 btn-lg btn-primary ml-n5 mr-3 va va-card"></span>
	<h1 class="card-title mb-0">Payment options</h1>
	<span class="step-3 collapse btn ml-auto btn-edit-checkout" data-toggle="collapse" data-target=".step-3">
		Edit Payment Options <span class="va va-pencil mr-2 mb-n2"></span>
	</span>
</li>
<span class="step-3 collapse">
	<img class="mx-3" height="30" src="../assets/images/payments/PayPal.svg" alt="" />
</span>
<div class="step-2 collapse" data-parent="#checkout-collapse">
	<form  class="payment-form p-3 bg-white">
		<div class="btn-group-toggle" data-toggle="buttons">
			<label
				class="btn btn-block select-payment-btn shadow-sm border active mb-3 d-flex align-items-center justify-content-between">
				<span class="payment-text text-left d-flex align-items-center">
					<span class="ml-2 py-2">
						<h4>paypal</h4>
						<p class="mb-1">Accept payments from Customers with Paypal</p>
					</span>
				</span>
				<span>
					<img class="ml-auto" height="40" src="../assets/images/payments/PayPal.svg" alt="" />
					<input type="radio" name="options" id="paypal" autocomplete="off" checked />
				</span>
			</label>
			<label
				class="btn btn-block select-payment-btn shadow-sm border mb-3 d-flex align-items-center justify-content-between">
				<span class="payment-text text-left d-flex align-items-center">
					<span class="ml-2 py-2">
						<h4>Stripe</h4>
						<p class="mb-0"> Accept payments from Customers with Stripe</p>
					</span>
				</span>
				<span>
					<img class="ml-auto" height="40" src="../assets/images/payments/stripe-4.svg" alt="" />
					<input type="radio" name="options" id="stripe" autocomplete="off" />
				</span>
			</label>
			<label
				class="btn btn-block select-payment-btn shadow-sm border mb-3 d-flex align-items-center justify-content-between">
				<span class="payment-text text-left d-flex align-items-center">
					<span class="ml-2 py-2">
						<h4>Cash On Delivery</h4>
						<p class="mb-1">Accept payments ON Delivering the Product</p>
					</span>
				</span>

				<span>
					<h1>C.O.D</h1>
					<input type="radio" name="options" id="cod" autocomplete="off" />
				</span>
			</label>
		</div>
		<button class="btn btn-outline-primary" data-toggle="collapse" data-target=".step-3">continue to Payments</button>
	</form>
</div>