<li class="list-group-item border-0 d-flex align-items-center pb-4">
	<span class="va va-user p-3 btn-lg btn-primary ml-n5 mr-3"></span>
	<h1 class="card-title mb-0">Personal Details</h1>
	<span class="ml-auto d-none" data-toggle="collapse" data-target="#personalDetails" aria-expanded="true"
		aria-controls="personalDetails">
		Edit personal details <span class="va va-pencil mr-2 mb-n2"></span>
	</span>

</li>
<div>
	<div class="px-3 bg-white">
		<span class="d-none" data-toggle="collapse" data-target="#personalDetails" aria-expanded="true"
			aria-controls="personalDetails">
			<h5>John Doe</h5>
			<h5>doe@example.com</h5>
		</span>
		<form id="personalDetails" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"
			novalidate>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="firstname">First Name</label>
					<input type="text" name="firstname" value="John" class="form-control" id="firstname" />
				</div>
				<div class="form-group col-md-6">
					<label for="lastname">Last Name</label>
					<input type="text" name="lastname" value="Doe" class="form-control" id="lastname" />
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="text" name="email" value="doe@example.com" class="form-control" id="email"
					aria-describedby="emailHelp" />
			</div>
			<div class="custom-control custom-checkbox mr-sm-2 my-3">
				<input type="checkbox" class="custom-control-input" id="create-accoount">
				<label class="custom-control-label" for="create-accoount" data-toggle="collapse" href="#collapseExample"
					role="button" aria-expanded="false" aria-controls="collapseExample">I want to create an
					Account</a></label>
			</div>
			<div class="collapse" id="collapseExample">
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="form-control" required />
				</div>
			</div>
			<div class="d-flex flex-wrap align-items-center justify-content-between">
				<button type="submit" class="btn btn-outline-primary mt-3">
					Continue to Shipping
				</button>
				<span>Or</span>
				<a href="/login" class="btn btn-primary mt-3">Have account Login</a>
			</div>
		</form>
	</div>
</div>