<li class="list-group-item border-0 d-flex align-items-center pt-4">
	<span class="p-3 btn-lg btn-primary ml-n5 mr-3 va va-checkmark"></span>
	<h1 class="card-title mb-0">Review Order</h1>
	<span class="ml-auto d-none" id="orderReview" data-toggle="collapse" data-target="#orderReview"
		aria-expanded="false" aria-controls="orderReview" aria-controls="orderReview">
	</span>
</li>
<div class="collapse show" id="order-review" aria-labelledby="orderReview" data-parent="#accordionExample">
	<div class="p-4 bg-white text-center">
		<span class="va va-checkmark badge-finish text-white"></span>
		<form class="mt-3">
			<h3>All set</h3>
			<h6>Please check if all the Data you have provided is correct</h6>
			<div class="custom-control custom-checkbox mr-sm-2">
				<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
				<label class="custom-control-label" for="customControlAutosizing">I agree to <a href="">Terms and
						Conditions</a></label>
			</div>
			<a href="{{root}}shop/order-confirmation.html" class="btn btn-lg btn-light-200 mt-3">Place Order</a>
		</form>
	</div>
</div>