.mini{
    .container, .container-fluid {
        @include media-breakpoint-up(lg) {padding-left: 5rem !important;}
    }
    nav{
        #navbarCollapse{
            .sidenav{
                @include media-breakpoint-up(lg) {width: $spacer * 3.5 !important;height: 95vh;}
                .nav-item{
                    padding-left: 0.4rem;
                    .title{  
                        @include media-breakpoint-up(lg) {display:none !important;}
                    }
                }
                #hasSubItems{
                    .nav-second-level{
                        @include media-breakpoint-up(lg) {
                            position: absolute;
                            background: #989595;
                            left: 4rem;
                            margin-top: -2.5rem;
                            padding: .7rem;
                            border-radius: 1.5rem;
                            white-space: nowrap;
                        }
                        li{
                            list-style: none;
                            .nav-link{
                                padding:.25rem;
                                font-size: 13px;
                                
                                .nav-link-text{
                                    span{
                                        &::before{
                                            font-family: 'Font Awesome 5 Free';
                                            content: "\f111";
                                        }
                                    }
                                }
                            }
                            .nav-link.active{
                                .nav-link-text{
                                    span{
                                        &::before{
                                            font-family: 'Font Awesome 5 Free';
                                            content: "\f058";
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
