{{#unlesspage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter' 'air'
'auth-forgot-password' 'auth-register' 'auth-login' '_headers' }}
<div class="cart-overlay d-none"></div>
<div id="shopping-cart" class="sidenav">
	<div class="px-3">
		<span class="mx-4">
			<a id="cart-close" class="closebtn">&times;</a>
			<h4>Shopping Cart</h4>
		</span>
		<table class="responsive-table table table-bordered">
			<thead>
				<tr>
					<th scope="col">Details</th>
					<th class="text-right" scope="col">Quantity</th>
					<th class="text-right" scope="col">Price</th>
				</tr>
			</thead>
			<tbody class>
				<tr class="bg-white border">
					<td colspan="3" class="d-flex">
						<div class="cart-item-img text-center">
							<a href="app-ecommerce-details.html">
								<img src="{{root}}assets/images/pages/eCommerce/9.png" alt="img-placeholder" />
							</a>
						</div>
						<div class="item-name ml-2 text-left">
							<a href="app-ecommerce-details.html">Amazon - Fire TV Stick with Alexa Voice Remote - Black</a>
							<span></span>
							<p class="text-success">In Stock</p>
							<div class="d-flex">
								<p class="text-muted"><strong>Color :</strong> Yellow</p>
								<p class="text-muted ml-4"><strong>Size :</strong>XXL</p>
							</div>
						</div>
					</td>
					<td data-label="Quantity : ">
						<div class="item-quantity mb-2 ml-auto">
							<div class="input-group quantity-counter-wrapper bootstrap-touchspin ml-auto">
								<span class="input-group-btn input-group-prepend bootstrap-touchspin-injected"
									><button class="btn btn-primary bootstrap-touchspin-down" type="button">-</button></span
								><input type="text" class="quantity-counter form-control" value="1" /><span
									class="input-group-btn input-group-append bootstrap-touchspin-injected"
									><button class="btn btn-primary bootstrap-touchspin-up" type="button">+</button></span
								>
							</div>
						</div>
					</td>
					<td class="text-right" data-label="Price :"><h6>$1,190</h6></td>
				</tr>
				<tr class="bg-white border">
					<td colspan="3" class="d-flex">
						<div class="cart-item-img text-center">
							<a href="app-ecommerce-details.html">
								<img src="{{root}}assets/images/pages/eCommerce/9.png" alt="img-placeholder" />
							</a>
						</div>
						<div class="item-name ml-2 text-left">
							<a href="app-ecommerce-details.html">Amazon - Fire TV Stick with Alexa Voice Remote - Black</a>
							<span></span>
							<p class="text-success">In Stock</p>
							<div class="d-flex">
								<p class="text-muted"><strong>Color :</strong> Yellow</p>
								<p class="text-muted ml-4"><strong>Size :</strong>XXL</p>
							</div>
						</div>
					</td>
					<td data-label="Quantity : ">
						<div class="item-quantity mb-2 ml-auto">
							<div class="input-group quantity-counter-wrapper bootstrap-touchspin ml-auto">
								<span class="input-group-btn input-group-prepend bootstrap-touchspin-injected"
									><button class="btn btn-primary bootstrap-touchspin-down" type="button">-</button></span
								><input type="text" class="quantity-counter form-control" value="1" /><span
									class="input-group-btn input-group-append bootstrap-touchspin-injected"
									><button class="btn btn-primary bootstrap-touchspin-up" type="button">+</button></span
								>
							</div>
						</div>
					</td>
					<td class="text-right" data-label="Price :"><h6>$1,190</h6></td>
				</tr>
				<tr class="bg-white border">
					<td colspan="3" class="d-flex">
						<div class="cart-item-img text-center">
							<a href="app-ecommerce-details.html">
								<img src="{{root}}assets/images/pages/eCommerce/9.png" alt="img-placeholder" />
							</a>
						</div>
						<div class="item-name ml-2 text-left">
							<a href="app-ecommerce-details.html">Amazon - Fire TV Stick with Alexa Voice Remote - Black</a>
							<span></span>
							<p class="text-success">In Stock</p>
							<div class="d-flex">
								<p class="text-muted"><strong>Color :</strong> Yellow</p>
								<p class="text-muted ml-4"><strong>Size :</strong>XXL</p>
							</div>
						</div>
					</td>
					<td data-label="Quantity : ">
						<div class="item-quantity mb-2 ml-auto">
							<div class="input-group quantity-counter-wrapper bootstrap-touchspin ml-auto">
								<span class="input-group-btn input-group-prepend bootstrap-touchspin-injected"
									><button class="btn btn-primary bootstrap-touchspin-down" type="button">-</button></span
								><input type="text" class="quantity-counter form-control" value="1" /><span
									class="input-group-btn input-group-append bootstrap-touchspin-injected"
									><button class="btn btn-primary bootstrap-touchspin-up" type="button">+</button></span
								>
							</div>
						</div>
					</td>
					<td class="text-right" data-label="Price :"><h6>$1,190</h6></td>
				</tr>
				<tr>
					<td class="text-left cart-summary" colspan="3">
						<h4>Shopping summary</h4>
					</td>
				</tr>
				<tr>
					<td class="cart-summary d-flex" colspan="3">
						<h6 class="mb-0">Sub Total :</h6>
						<h4 class="ml-auto">$489.00</h4>
					</td>
				</tr>
				<tr>
					<td class="cart-summary d-flex" colspan="3">
						<h6 class="mb-0">Discount :</h6>
						<h4 class="ml-auto">$489.00</h4>
					</td>
				</tr>
				<tr>
					<td class="cart-summary d-flex" colspan="3">
						<h6 class="mb-0">Shipping & Handling :</h6>
						<h4 class="ml-auto">$489.00</h4>
					</td>
				</tr>
				<tr>
					<td class="cart-summary d-flex" colspan="3">
						<h6 class="mb-0">Tax :</h6>
						<h4 class="ml-auto">$489.00</h4>
					</td>
				</tr>
				<tr>
					<td class="cart-summary d-flex" colspan="3">
						<h3 class="mb-0">Grand Total :</h3>
						<h3 class="ml-auto">$489.00</h3>
					</td>
				</tr>
				<tr>
					<td class="cart-summary" colspan="3">
							<a href="/checkout.html" class="btn btn-success btn-block">Checkout</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe bg-white">
	<div class="container">
		<p class="pb-2 text-center text-white">Delivering the latest product trends and industry news straight to your inbox</p>
		<div class="row justify-content-md-center">
			<div class="col-lg-5 col-md-6">
				<form class="p-2 shadow-sm bg-light rounded" action="#">
					<div class="input-group">
						<input class="form-control border-0 mr-2 bg-light" type="search" placeholder="Search tools and resources...">
						<div class="input-group-append">
							<button class="btn btn-primary rounded" type="submit">Subscriibe</button>
						</div>
					</div>
				</form>
				<small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
			</div>
			<!-- col-md-6.// -->
		</div>
	</div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->

{{/unlesspage}}
<footer class="section-footer border-top ">
	{{#unlesspage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter' 'air'
'auth-forgot-password' 'auth-register' 'auth-login' '_headers' }}
	<div class="container">
		<section class="footer-top padding-y">
			<div class="row">
				<aside class="col-md-4">
					<article class="mr-3">
						<img src="{{root}}assets/images/logo-light.svg" class="logo-footer" />
						<p class="mt-3">
							Some short text about company like You might remember the Dell computer commercials in which a youth reports this exciting news to his
							friends.
						</p>
						<div>
							<a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fas fa-facebook-f"></i></a>
							<a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fas fa-instagram"></i></a>
							<a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fas fa-youtube"></i></a>
							<a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fas fa-twitter"></i></a>
						</div>
					</article>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">About</h6>
					<ul class="list-unstyled">
						<li><a href="#">About us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Rules and terms</a></li>
						<li><a href="#">Blogs</a></li>
					</ul>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">Services</h6>
					<ul class="list-unstyled">
						<li><a href="#">Help center</a></li>
						<li><a href="#">Money refund</a></li>
						<li><a href="#">Terms and Policy</a></li>
						<li><a href="#">Open dispute</a></li>
					</ul>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">For users</h6>
					<ul class="list-unstyled">
						<li><a href="#"> User Login </a></li>
						<li><a href="#"> User register </a></li>
						<li><a href="#"> Account Setting </a></li>
						<li><a href="#"> My Orders </a></li>
						<li><a href="#"> My Wishlist </a></li>
					</ul>
				</aside>
				<aside class="col-sm-2 col-md-2">
					<h6 class="title">Our app</h6>
					<a href="#" class="d-block mb-2"><img src="{{root}}assets/images/misc/appstore.png" height="40" /></a>
					<a href="#" class="d-block mb-2"><img src="{{root}}assets/images/misc/playmarket.png" height="40" /></a>
				</aside>
			</div>
			<!-- row.// -->
		</section>
		<!-- footer-top.// -->
		{{/unlesspage}}
		<section class="footer-copyright border-top d-flex align-items-center justify-content-between">
			<p class="float-left text-muted mb-0">© 2020 Company All rights reserved</p>
			<p target="_blank" class="float-right text-muted mb-0">
				<a href="#">Privacy &amp; Cookies</a> &nbsp; &nbsp;
				<a href="#">Accessibility</a>
			</p>
		</section>
	</div>
	<!-- //container -->
</footer>
