<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm bg-white">
   <a class="navbar-brand" href="#">Sidebar Na</a>
   <button
     class="navbar-toggler"
     type="button"
     data-toggle="collapse"
     data-target="#navbarCollapse"
     aria-controls="navbarCollapse"
     aria-expanded="false"
     aria-label="Toggle navigation"
   >
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse " id="navbarCollapse">
     <ul class=" navbar-nav mr-auto sidenav bg-white shadow-sm pl-2 flex-column position-absolute fixed-top w-auto" id="navAccordion">
      <li class="nav-item active">
         <a class="nav-link" href="{{root}}/dashboard" data-toggle="tooltip" title="dashboard"><i class="fas fa-house-damage"></i><span class="pl-3 title">dashboard</span></a>
         </li>
     <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem1" aria-controls="SubItem1" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Components"><i class="fas fa-layer-group"></i><span class="pl-3 title">Components</span></a>
         <ul class="nav-second-level collapse " id="SubItem1" data-parent="#navAccordion">
     <li><a class="nav-link" href="{{root}}/alerts"><span class="nav-link-text "><span class="dot-icon px-1"></span>Alerts</span></a></li>
     <li><a class="nav-link" href="{{root}}/buttons"><span class="nav-link-text "><span class="dot-icon px-1"></span>Buttons</span></a></li>
         
             <li><a class="nav-link" href="{{root}}/badges"><span class="nav-link-text "><span class="dot-icon px-1"></span>badges</span></a></li>
         <li><a class="nav-link" href="{{root}}/cards"><span class="nav-link-text "><span class="dot-icon px-1"></span>Cards</span></a></li>
         <li><a class="nav-link" href="{{root}}/carousel"><span class="nav-link-text "><span class="dot-icon px-1"></span>carousel</span></a></li>
             <li><a class="nav-link" href="{{root}}/collapse"><span class="nav-link-text "><span class="dot-icon px-1"></span>collapse</span></a></li>
             <li><a class="nav-link" href="{{root}}/dialog"><span class="nav-link-text "><span class="dot-icon px-1"></span>dialog</span></a></li>
         <li><a class="nav-link" href="{{root}}/groups"><span class="nav-link-text "><span class="dot-icon px-1"></span>groups</span></a></li>
         <li><a class="nav-link" href="{{root}}/navs"><span class="nav-link-text "><span class="dot-icon px-1"></span>Navs</span></a></li>
         <li><a class="nav-link" href="{{root}}/pagination"><span class="nav-link-text "><span class="dot-icon px-1"></span>pagination</span></a></li>
         <li><a class="nav-link" href="{{root}}/progress"><span class="nav-link-text "><span class="dot-icon px-1"></span>Progress bars</span></a></li>
         <li><a class="nav-link" href="{{root}}/scrollspy"><span class="nav-link-text "><span class="dot-icon px-1"></span>scrollspy</span></a></li>
             <li><a class="nav-link" href="{{root}}/spinners"><span class="nav-link-text "><span class="dot-icon px-1"></span>Spinners</span></a></li>
             <li><a class="nav-link" href="{{root}}/typography"><span class="nav-link-text "><span class="dot-icon px-1"></span>typography</span></a></li>
         </ul>
     </li>
 <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem30" aria-controls="SubItem30" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Charts"><i class="fas fa-wrench"></i><span class="pl-3 title">Utilities</span></a>
         <ul class="nav-second-level collapse " id="SubItem30" data-parent="#navAccordion">
         <li><a class="nav-link" href="{{root}}/grid"><span class="nav-link-text "><span class="dot-icon px-1"></span>Grid</span></a></li>
         <li><a class="nav-link" href="{{root}}/flexbox"><span class="nav-link-text "><span class="dot-icon px-1"></span>B4 flex</span></a></li>
 </ul>
 </li>
     <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem2" aria-controls="SubItem2" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Forms"><i class="fas fa-file-alt"></i><span class="pl-3 title">Forms</span></a>
         <ul class="nav-second-level collapse " id="SubItem2" data-parent="#navAccordion">
             <li><a class="nav-link" href="{{root}}/basic_forms"><span class="nav-link-text "><span class="dot-icon px-1"></span>Basic forms</span></a></li>
             <li><a class="nav-link" href="{{root}}/iconic_form"><span class="nav-link-text "><span class="dot-icon px-1"></span>iconic forms</span></a></li>
             <li><a class="nav-link" href="{{root}}/masked_input"><span class="nav-link-text "><span class="dot-icon px-1"></span>Masked input</span></a></li>
             <li><a class="nav-link" href="{{root}}/text_editors"><span class="nav-link-text "><span class="dot-icon px-1"></span>Text Editors</span></a></li>
         </ul>
     </li>
     <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem3" aria-controls="SubItem3" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Charts"><i class="fas fa-chart-pie"></i><span class="pl-3 title">Charts</span></a>
         <ul class="nav-second-level collapse " id="SubItem3" data-parent="#navAccordion">
             <li><a class="nav-link" href="{{root}}/chartjs"><span class="nav-link-text "><span class="dot-icon px-1"></span>chartjs</span></a></li>
             <li><a class="nav-link" href="{{root}}/sparkline"><span class="nav-link-text "><span class="dot-icon px-1"></span>sparkline</span></a></li>
         </ul>
     </li>
     <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem4" aria-controls="SubItem4" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Tables"><i class="fas fa-table"></i><span class="pl-3 title">Tables</span></a>
         <ul class="nav-second-level collapse " id="SubItem4" data-parent="#navAccordion">
             <li><a class="nav-link" href="{{root}}/bootstrap_tables"><span class="nav-link-text "><span class="dot-icon px-1"></span>Basic Tables</span></a></li>
             <li><a class="nav-link" href="{{root}}/data_tables"><span class="nav-link-text "><span class="dot-icon px-1"></span>Data Tables</span></a></li>
         </ul>
 </li>
     <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem5" aria-controls="SubItem5" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Alerts plugins"><i class="far fa-comment-alt"></i><span class="pl-3 title">Notifications</span></a>
         <ul class="nav-second-level collapse " id="SubItem5" data-parent="#navAccordion">
             <li><a class="nav-link" href="{{root}}/sweet_alert"><span class="nav-link-text "><span class="dot-icon px-1"></span>Sweet alert</span></a></li>
             <li><a class="nav-link" href="{{root}}/toastr"><span class="nav-link-text "><span class="dot-icon px-1"></span>Toastr</span></a></li>
         </ul>
     </li>
 <li class="nav-item ">
         <a class="nav-link" href="{{root}}/chat" data-toggle="tooltip" title="chat"><i class="fas fa-comment-dots"></i><span class="pl-3 title">Chat app</span></a>
     </li>
     <li class="nav-item" id="hasSubItems" data-toggle="collapse" data-target="#SubItem7" aria-controls="SubItem7" aria-expanded="false">
         <a class="nav-link nav-link-collapse " href="#" data-toggle="tooltip" title="Pages"><i class="far fa-file"></i><span class="pl-3 title">Pages</span></a>
         <ul class="nav-second-level collapse " id="SubItem7" data-parent="#navAccordion">
             <li><a class="nav-link" href="{{root}}/login"><span class="nav-link-text "><span class="dot-icon px-1"></span>Login page</span></a></li>
             <li><a class="nav-link" href="{{root}}/contact"><span class="nav-link-text "><span class="dot-icon px-1"></span>profile Page</span></a></li>
             <li><a class="nav-link" href="{{root}}/pricing"><span class="nav-link-text "><span class="dot-icon px-1"></span>Pricing Tables</span></a></li>
             <li><a class="nav-link" href="http://localhost/solar/index.php?login"><span class="nav-link-text "><span class="dot-icon px-1"></span>Contact us</span></a></li>
             <li><a class="nav-link" href="{{root}}/contact"><span class="nav-link-text "><span class="dot-icon px-1"></span>404 page</span></a></li>
             <li><a class="nav-link" href="{{root}}/contact"><span class="nav-link-text "><span class="dot-icon px-1"></span>Reciept</span></a></li>
         </ul>
     </li>
     </ul>
     <div class="d-flex ml-auto">
        <div class="chat pr-4">
            <i class="fas fa-comment fa-2x"></i>
            <span class="badge badge-primary badge-pill ml-n3">5</span>
        </div>
        <div class="profile d-flex">
            <h6 class="mt-1 ml-2">Rumbiiha</h6>
            <i class="fas fa-user-circle fa-2x px-2"></i>
        </div>
    </div>
   </div>
 </nav>
