{{#unlesspage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter' 'air' 'auth-forgot-password' 'auth-register' 'auth-login' '_headers'  }}
<header class="py-3 bg-white shadow-sm border-bottom mb-5">
	<div class="container py-1">
		<div class="row flex-nowrap justify-content-between align-items-center">
			<div class="col-4 pt-1">
				<a class="text-muted" href="/">Home</a>
			</div>
			<div class="col-4 text-center">
				<a class="blog-header-logo text-dark" href="#">Large</a>
			</div>
			<div class="col-4 d-flex justify-content-end align-items-center">
				<div class="d-flex float-md-right">
					<div class="dropdown dropdown-user mr-3">
						<a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
							<div class="text-center">
								<ion-icon class="header-icons" src="{{root}}assets/icons/svg/user.svg"></ion-icon>
								<span class="notify">3</span>
							</div>
							<small class="text"> My profile </small>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="profile.html"><ion-icon class="mr-1" src="{{root}}assets/icons/svg/user.svg"></ion-icon> Edit Profile</a
                            ><a class="dropdown-item" href="notifications.html"><ion-icon name="notifications-outline"></ion-icon> My Notification</a>
                            <a class="dropdown-item" href="chat.html"><ion-icon name="chatbox-outline"></ion-icon> My chats</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/"><i class="feather icon-power"></i> Logout</a>
						</div>
					</div>
					<div class="widget-header mx-3">
						<a href="/page-profile-orders.html" class="widget-view">
							<div class="text-center">
								<ion-icon class="header-icons" src="{{root}}assets/icons/svg/store.svg"></ion-icon>
							</div>
							<small class="text"> Orders </small>
						</a>
					</div>
					<div class="widget-header ml-3">
						<a href="/checkout.html" class="widget-view">
							<div class="text-center">
								<ion-icon class="header-icons" src="{{root}}assets/icons/svg/cart.svg"></ion-icon>
							</div>
							<small class="text"> Cart </small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="nav-scroller py-1 mb-3">
	<div class="container bg-white px-4 py-3 rounded shadow-sm mt-n5">
		<nav class="nav d-flex justify-content-between">
			<li class="nav-item active">
				<a class="nav-link" href="shop.html">
					<ion-icon src="{{root}}assets/icons/svg/store.svg"></ion-icon>
					<span>Shop</span></a
				>
            </li>
            <li class="nav-item active">
				<a class="nav-link" href="faq.html">
					<ion-icon src="{{root}}assets/icons/svg/store.svg"></ion-icon>
					<span>FAQ</span></a
				>
            </li>
            <li class="nav-item active">
				<a class="nav-link" href="knowledge-base.html">
					<ion-icon src="{{root}}assets/icons/svg/store.svg"></ion-icon>
					<span>Knowledge base</span></a
				>
            </li>
            
			<li class="dropdown nav-item" data-menu="dropdown">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="feather icon-package"></i><span data-i18n="Apps">Components</span></a>
				<ul class="dropdown-menu">
					<li data-menu="">
						<a class="dropdown-item" href="_banners.html" data-toggle="dropdown" data-i18n="Email"><i class="feather icon-mail"></i>Banners</a>
                    </li>
                    <li data-menu="">
						<a class="dropdown-item" href="_headers.html" data-toggle="dropdown" data-i18n="Email"><i class="feather icon-mail"></i>Headers</a>
					</li>
					<li class="active" data-menu="">
						<a class="dropdown-item" href="_features.html" data-toggle="dropdown" data-i18n="Chat"><i class="feather icon-message-square"></i>Features</a>
					</li>
					<li data-menu="">
						<a class="dropdown-item" href="_footers.html" data-toggle="dropdown" data-i18n="Todo"><i class="feather icon-check-square"></i>Footers</a>
					</li>
					<li data-menu="">
						<a class="dropdown-item" href="app-calender.html" data-toggle="dropdown" data-i18n="Calender"
							><i class="feather icon-calendar"></i>Calender</a
						>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="User"><i class="feather icon-user"></i>User</a>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="app-user-list.html" data-toggle="dropdown" data-i18n="List"><i class="feather icon-circle"></i>List</a>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="app-user-view.html" data-toggle="dropdown" data-i18n="View"><i class="feather icon-circle"></i>View</a>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="app-user-edit.html" data-toggle="dropdown" data-i18n="Edit"><i class="feather icon-circle"></i>Edit</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="dropdown nav-item" data-menu="dropdown">
				<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"
					><i class="feather icon-layers"></i><span data-i18n="UI Elements">Pages</span></a
				>
				<ul class="dropdown-menu">
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Data List"
							><i class="feather icon-list"></i>Data List</a
						>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="data-list-view.html" data-toggle="dropdown" data-i18n="List View"
									><i class="feather icon-circle"></i>List View</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="data-thumb-view.html" data-toggle="dropdown" data-i18n="Thumb View"
									><i class="feather icon-circle"></i>Thumb View</a
								>
							</li>
						</ul>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Content"
							><i class="feather icon-layout"></i>Content</a
						>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="content-grid.html" data-toggle="dropdown" data-i18n="Grid"><i class="feather icon-circle"></i>Grid</a>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="content-typography.html" data-toggle="dropdown" data-i18n="Typography"
									><i class="feather icon-circle"></i>Typography</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="content-text-utilities.html" data-toggle="dropdown" data-i18n="Text Utilities"
									><i class="feather icon-circle"></i>Text Utilities</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="content-syntax-highlighter.html" data-toggle="dropdown" data-i18n="Syntax Highlighter"
									><i class="feather icon-circle"></i>Syntax Highlighter</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="content-helper-classes.html" data-toggle="dropdown" data-i18n="Helper Classes"
									><i class="feather icon-circle"></i>Helper Classes</a
								>
							</li>
						</ul>
					</li>
					<li data-menu="">
						<a class="dropdown-item" href="colors.html" data-toggle="dropdown" data-i18n="Colors"><i class="feather icon-droplet"></i>Colors</a>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Cards"
							><i class="feather icon-credit-card"></i>Cards</a
						>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="card-basic.html" data-toggle="dropdown" data-i18n="Basic"><i class="feather icon-circle"></i>Basic</a>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="card-advance.html" data-toggle="dropdown" data-i18n="Advance"
									><i class="feather icon-circle"></i>Advance</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="card-statistics.html" data-toggle="dropdown" data-i18n="Statistics"
									><i class="feather icon-circle"></i>Statistics</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="card-analytics.html" data-toggle="dropdown" data-i18n="Analytics"
									><i class="feather icon-circle"></i>Analytics</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="card-actions.html" data-toggle="dropdown" data-i18n="Card Actions"
									><i class="feather icon-circle"></i>Card Actions</a
								>
							</li>
						</ul>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Icons"><i class="feather icon-eye"></i>Icons</a>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="icons-feather.html" data-toggle="dropdown" data-i18n="Feather"
									><i class="feather icon-circle"></i>Feather</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="icons-font-awesome.html" data-toggle="dropdown" data-i18n="Font Awesome"
									><i class="feather icon-circle"></i>Font Awesome</a
								>
							</li>
						</ul>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Components"
							><i class="feather icon-briefcase"></i>Components</a
						>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="component-alerts.html" data-toggle="dropdown" data-i18n="Alerts"
									><i class="feather icon-circle"></i>Alerts</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-buttons-basic.html" data-toggle="dropdown" data-i18n="Buttons"
									><i class="feather icon-circle"></i>Buttons</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-breadcrumbs.html" data-toggle="dropdown" data-i18n="Breadcrumbs"
									><i class="feather icon-circle"></i>Breadcrumbs</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-carousel.html" data-toggle="dropdown" data-i18n="Carousel"
									><i class="feather icon-circle"></i>Carousel</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-collapse.html" data-toggle="dropdown" data-i18n="Collapse"
									><i class="feather icon-circle"></i>Collapse</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-dropdowns.html" data-toggle="dropdown" data-i18n="Dropdowns"
									><i class="feather icon-circle"></i>Dropdowns</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-list-group.html" data-toggle="dropdown" data-i18n="List Group"
									><i class="feather icon-circle"></i>List Group</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-modals.html" data-toggle="dropdown" data-i18n="Modals"
									><i class="feather icon-circle"></i>Modals</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-pagination.html" data-toggle="dropdown" data-i18n="Pagination"
									><i class="feather icon-circle"></i>Pagination</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-navs-component.html" data-toggle="dropdown" data-i18n="Navs Component"
									><i class="feather icon-circle"></i>Navs Component</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-navbar.html" data-toggle="dropdown" data-i18n="Navbar"
									><i class="feather icon-circle"></i>Navbar</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-tabs-component.html" data-toggle="dropdown" data-i18n="Tabs Component"
									><i class="feather icon-circle"></i>Tabs Component</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-pills-component.html" data-toggle="dropdown" data-i18n="Pills Component"
									><i class="feather icon-circle"></i>Pills Component</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-tooltips.html" data-toggle="dropdown" data-i18n="Tooltips"
									><i class="feather icon-circle"></i>Tooltips</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-popovers.html" data-toggle="dropdown" data-i18n="Popovers"
									><i class="feather icon-circle"></i>Popovers</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-badges.html" data-toggle="dropdown" data-i18n="Badges"
									><i class="feather icon-circle"></i>Badges</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-pill-badges.html" data-toggle="dropdown" data-i18n="Pill Badges"
									><i class="feather icon-circle"></i>Pill Badges</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-progress.html" data-toggle="dropdown" data-i18n="Progress"
									><i class="feather icon-circle"></i>Progress</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-media-objects.html" data-toggle="dropdown" data-i18n=""
									><i class="feather icon-circle"></i>Media Objects</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-spinner.html" data-toggle="dropdown" data-i18n="Spinner"
									><i class="feather icon-circle"></i>Spinner</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="component-bs-toast.html" data-toggle="dropdown" data-i18n="Toasts"
									><i class="feather icon-circle"></i>Toasts</a
								>
							</li>
						</ul>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Extra Components"
							><i class="feather icon-box"></i>Extra Components</a
						>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="ex-component-avatar.html" data-toggle="dropdown" data-i18n="Avatar"
									><i class="feather icon-circle"></i>Avatar</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ex-component-chips.html" data-toggle="dropdown" data-i18n="Chips"
									><i class="feather icon-circle"></i>Chips</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ex-component-divider.html" data-toggle="dropdown" data-i18n="Divider"
									><i class="feather icon-circle"></i>Divider</a
								>
							</li>
						</ul>
					</li>
					<li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
						<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown" data-i18n="Extensions"
							><i class="feather icon-box"></i>Extensions</a
						>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-sweet-alerts.html" data-toggle="dropdown" data-i18n="Sweet Alert"
									><i class="feather icon-circle"></i>Sweet Alert</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-toastr.html" data-toggle="dropdown" data-i18n="Toastr"
									><i class="feather icon-circle"></i>Toastr</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-noui-slider.html" data-toggle="dropdown" data-i18n="NoUi Slider"
									><i class="feather icon-circle"></i>NoUi Slider</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-file-uploader.html" data-toggle="dropdown" data-i18n="File Uploader"
									><i class="feather icon-circle"></i>File Uploader</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-quill-editor.html" data-toggle="dropdown" data-i18n="Quill Editor"
									><i class="feather icon-circle"></i>Quill Editor</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-drag-drop.html" data-toggle="dropdown" data-i18n="Drag &amp; Drop"
									><i class="feather icon-circle"></i>Drag &amp; Drop</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-tour.html" data-toggle="dropdown" data-i18n="Tour"
									><i class="feather icon-circle"></i>Tour</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-clipboard.html" data-toggle="dropdown" data-i18n="Clipboard"
									><i class="feather icon-circle"></i>Clipboard</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-plyr.html" data-toggle="dropdown" data-i18n="Media Player"
									><i class="feather icon-circle"></i>Media Player</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-context-menu.html" data-toggle="dropdown" data-i18n="Context Menu"
									><i class="feather icon-circle"></i>Context Menu</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-swiper.html" data-toggle="dropdown" data-i18n="swiper"
									><i class="feather icon-smartphone"></i>swiper</a
								>
							</li>
							<li data-menu="">
								<a class="dropdown-item" href="ext-component-i18n.html" data-toggle="dropdown" data-i18n="l18n"
									><i class="feather icon-circle"></i>l18n</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</nav>
	</div>
</div>
{{/unlesspage}}

<!-- container .// -->
{{#ifpage '_sliders' '_footers' '_banners' '_forms' '_icon-text' '_item-side' '_product-details' '_product-cards' '_features' '_filter' 'auth-forgot-password' 'auth-register' 'auth-login' '_headers'}}
<header class="py-3 bg-white shadow-sm border-bottom mb-5">
	<div class="container py-1">
		<div class="row flex-nowrap justify-content-between align-items-center">
			<div class="col-4 pt-1">
				<a class="text-muted" href="/">Home</a>
			</div>
			<div class="col-4 text-center">
				<a class="blog-header-logo text-dark" href="#">Large</a>
			</div>
			<div class="col-4 d-flex justify-content-end align-items-center">
				<div class="d-flex float-md-right">
					<div class="dropdown dropdown-user mr-3">
						<a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
							<div class="text-center">
								<ion-icon class="header-icons" src="{{root}}assets/icons/svg/user.svg"></ion-icon>
								<span class="notify">3</span>
							</div>
							<small class="text"> My profile </small>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="profile.html"><ion-icon class="mr-1" src="{{root}}assets/icons/svg/user.svg"></ion-icon> Edit Profile</a
							><a class="dropdown-item" href="notifications.html"><ion-icon name="chatbox-outline"></ion-icon> My Inbox</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/"><i class="feather icon-power"></i> Logout</a>
						</div>
					</div>
					<div class="widget-header mx-3">
						<a href="/page-profile-orders.html" class="widget-view">
							<div class="text-center">
								<ion-icon class="header-icons" src="{{root}}assets/icons/svg/store.svg"></ion-icon>
							</div>
							<small class="text"> Orders </small>
						</a>
					</div>
					<div class="widget-header ml-3">
						<a href="/checkout.html" class="widget-view">
							<div class="text-center">
								<ion-icon class="header-icons" src="{{root}}assets/icons/svg/cart.svg"></ion-icon>
							</div>
							<small class="text"> Cart </small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{{/ifpage}}
