/* app ecommerce details css */
/*---------------*/
$swiper-bg: #f7f7f7;

.app-ecommerce-details {
	.item-features {
		background-color: $swiper-bg;
	}
}

/* swiper slide shadow */
.swiper-container {
	.swiper-shadow {
		box-shadow: 2px 8px 10px 0 rgba(25, 42, 70, 0.13) !important;
	}
}

// centered slides option-1

.swiper-slide {
	text-align: center;
	font-weight: $headings-font-weight;
	background-color: $swiper-bg;
	padding: 1.5rem;
	cursor: pointer;
}

//navigation button custom feather icons
.swiper-button-prev,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: none;
	width: 35px;
	font-size: $h1-font-size;

	&:focus {
		outline: none;
	}

	&:after {
		font-family: 'feather';
	}
}

.swiper-button-prev {
	left: 0;

	&:after {
		content: '\e843';
	}
}

.swiper-button-next {
	right: 0;

	&:after {
		content: '\e844';
	}
}

.swiper-container-rtl {
	.swiper-button-prev {
		&:after {
			content: '\e844';
		}
	}

	.swiper-button-next {
		&:after {
			content: '\e843';
		}
	}
}

// color options

.product-color-options {
	input + .color-option {
		border: 1px solid transparent;
		border-radius: $border-radius;
		position: relative;
		cursor: pointer;
		padding: 0.3rem;

		.filloption {
			height: 21px;
			width: 21px;
			border-radius: $border-radius;
		}
	}
	// .color-option {
	// 	border: none;
	// }
	input:checked + .color-option {
		border: solid 1px blue !important;
	}
}
