/* app ecommerce details css */
/*---------------*/
$swiper-bg: #f7f7f7;

.app-ecommerce-details {
	.item-features {
		background-color: $swiper-bg;
	}
}

/* swiper slide shadow */
.swiper-container {
	.swiper-shadow {
		box-shadow: 2px 8px 10px 0 rgba(25, 42, 70, 0.13) !important;
	}
}

// centered slides option-1

.swiper-slide {
	text-align: center;
	font-weight: $headings-font-weight;
	background-color: $swiper-bg;
	padding: 1.5rem;
	cursor: pointer;
}


// color options

.product-color-options {
	label {
		height: 30px;
		width: 30px;
		border-radius: $border-radius;
		background: gainsboro;
		span {
			&:before {

				display: none;
			}
		}
		input:checked + span {
			margin-left: 19px;
			margin-top: -4px;
			
			&:before {
				border-radius: $border-radius;
				border: solid $border-width $border-color;
				background: $success;
				color: $white;
				display: inline-block;
			}
		}
		&.space-gray{
			background: $gray-500;
		}
		&.gold{
			background: rgb(255, 174, 0);
		}
		&.gray{
			background: gray;
		}
		&.rose-gold{
			background: #e3b29f;
		}
	}
}
