// main Products
.ecommerce-card {
	&:hover {
		transform: translateY(-5px);
	}
}

// margin for both views
.grid-view {
	margin-top: 0.7rem;
}

// Grid View
.grid-view-sm {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
	column-gap: 28px;
	@include media-breakpoint-down(md) {
		grid-template-columns: 1fr 1fr !important;
		column-gap: 0;
	}
}
.grid-view {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 28px;
	@include media-breakpoint-down(md) {
		grid-template-columns: 1fr 1fr !important;
		column-gap: 0;
	}
}

.ecommerce-card {
	overflow: hidden;
	margin-bottom: 1.5rem;
	@include media-breakpoint-down(md) {
		margin-bottom: 0;
		border-radius: 0 !important;
	}

	.card-content {
		.item-img {
			padding-top: 0.5rem;
			min-height: 15.85rem;
			@include media-breakpoint-down(md) {
				min-height: 4rem;
			}
		}
	}
}
