// main Products
.product-card {
	&:hover {
		transform: translateY(-5px);
	}
}

// margin for both views
.grid-view {
	margin-top: 0.4rem;
}

// Grid View
.grid-view-sm {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
	column-gap: 0.7rem;
	@include media-breakpoint-down(md) {
		grid-template-columns: 1fr 1fr !important;
		column-gap: 0;
	}
}
.grid-view {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 0.7rem;
	@include media-breakpoint-down(md) {
		grid-template-columns: 1fr 1fr !important;
		column-gap: 0;
	}
}

.product-card {
	overflow: hidden;
	margin-bottom: 0.7rem;
	box-shadow: $box-shadow-sm;
	border-radius:$border-radius;
	@include media-breakpoint-down(md) {
		margin-bottom: 0;
		border-radius: 0 !important;
		box-shadow: none;
	}

	.card-content {
		.item-img {
			min-height: 10.85rem;
			@include media-breakpoint-down(md) {
				min-height: 4rem;
			}
		}
	}
}
.filter-sidenav {
	height: auto;
	z-index: 1;
	transition: 0.5s;
	width: 260px;
	position: absolute;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
	overflow: hidden;
	@include media-breakpoint-down(sm) {
		z-index: 1059;
		top: 0;
		width: 0;
		margin-left: -1rem;
		margin-top: 0;
		&:after {
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity 0.15s ease-in-out;
			opacity: 0;
			visibility: hidden;
			background-color: rgba(0, 0, 0, 0.2);
			pointer-events: none;
			position: absolute;
		}
		&.toggle-filter:after {
			z-index: -1;
			opacity: 1;
			visibility: visible;
			position: fixed;
		}
	}
}
.toggle-filter {
	width: 0;
	@include media-breakpoint-down(sm) {
		width: 260px;
	}
}

.w-0 {
	width: 0px !important;
	overflow: hidden;
}

#products-list {
	transition: 0.5s;
}

.w-260 {
	width: 260px;
}

.sidebar-close-icon {
	right: 0;
	position: absolute;
	z-index: 1;
}

.products-list {
	margin-left: 280px;
	min-height: 95vh;
	@include media-breakpoint-down(sm) {
		margin-left: 0;
	}
}

#shopping-cart {
	height: 100%;
	.btn span {
		pointer-events: none;
	}
}
.module {
	overflow: hidden;
	&.line-clamp {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.store-category-nav {
	.nav-link {
		background: $gray-200 !important;
		.va {
			font-size: 1.5rem;
		}
		&.active {
			color: $primary;
			background: lighten($color: $primary, $amount: 45) !important;
		}
	}
}

#not-found-text {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter-wrapper {
	width: 100%;
	height: auto;
	overflow-y: scroll;
}
