$body-bg-dark: #101011;
$component-bg-dark: #1e2023;
body {
	&.dark-mode {
		color: lighten($color: $component-bg-dark, $amount: 70) !important;
		background-color: $body-bg-dark !important;
		.logo {
			svg {
				.a {
					fill: $gray-100;
				}
				.b {
					fill: $gray-100;
				}
			}
		}

		.bread-overlay {
			background: lighten($color: $body-bg-dark, $amount: 18);
		}
		.bg-white,
		.list-group-item {
			background-color: $component-bg-dark !important;
		}
		.border {
			border: 1px solid $gray-800 !important;
		}
		.navbar-light {
			background: $component-bg-dark !important;
		}
		.border-left {
			border-left: 1px solid $gray-700 !important;
		}
		.modal-header,
		.border-bottom {
			border-bottom: 1px solid $gray-700 !important;
		}
		.modal-footer {
			border-top: 1px solid $gray-700 !important;
		}
		.card {
			background: $component-bg-dark !important;
		}
		.select-payment-btn.active,
		.filter-sidenav .va,
		.btn-light-200,
		.bg-light-200,
		.btn-icon,
		.bg-light,
		.btn-light,
		.dropdown-menu,
		.modal-content,
		.dropdown-menu::before {
			background-color: lighten($color: $component-bg-dark, $amount: 10) !important;
			border: 1px solid lighten($color: $component-bg-dark, $amount: 10) !important;
		}
		.table,
		.item-description,
		.list-group-item.active,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			color: $gray-300;
		}
		.item-name,
		.header-icons,
		.text,
		a {
			color: lighten($color: $component-bg-dark, $amount: 70) !important;
		}
		.swiper-slide {
			background-color: lighten($color: $component-bg-dark, $amount: 10) !important;
		}
		.bordered-cols > [class*='col-'] {
			border-color: $component-bg-dark;
		}
		.border-top {
			border-top: 1px solid lighten($color: $component-bg-dark, $amount: 20) !important;
		}
		.card-banner {
			background: $component-bg-dark !important;
		}
		.search-bar,
		.search-bar input {
			background: $component-bg-dark !important;
		}
		.btn {
			color: $white !important;
		}
		.form-control::placeholder {
			color: $gray-500;
		}
		.form-control.search-bar {
			background: $body-bg-dark !important;
		}
		.cls-1 {
			fill: $gray-100;
		}

		.cls-2,
		.cls-3 {
			fill: $gray-100;
		}
		.table thead th,
		td,
		.table td {
			border: 1px solid lighten($color: $component-bg-dark, $amount: 10);
		}
		.table th,
		.table td {
			border: 1px solid lighten($color: $component-bg-dark, $amount: 10);
		}

		.form-control,
		.input-group-text,
		.select2-container--default .select2-selection--single {
			background: #0e0e0f !important;
			color: $gray-500 !important;
			border: none !important;
		}
		label,
		.input-group-append .input-group-text {
			color: $gray-500 !important;
		}
		// .input-group-append .input-group-text {
		// 	background: lighten($color: $primary, $amount: 5) !important;
		// }
		.table-bordered th,
		.table-bordered td {
			border: 1px solid $gray-800;
		}
		.dool-toggler {
			color: rgba(255, 255, 255, 0.5);
			border-color: rgba(255, 255, 255, 0.1);
		}
		.page-item {
			.page-link {
				color: #6c757d;
				background-color: $gray-900;
				border: 1px solid $gray-800;
				&.disabled {
					background-color: $gray-800;
				}
			}
			&.disabled .page-link {
				color: #6c757d;
				background-color: $gray-800;
				border: 1px solid $gray-800;
			}
		}
		.custom-control-label::before {
			background-color: #343a40;
			border: #343a40 solid 1px;
		}
		// side icons
		svg {
			.shop-cls-1 {
				stroke: $gray-300;
			}
			.support-cls-1 {
				stroke: $gray-300;
			}

			.support-cls-2,
			.disc-cls-2,
			.shop-cls-2 {
				fill: $gray-300;
			}

			.disc-cls-3,
			.disc-cls-4 {
				stroke: $gray-300;
			}
		}
		.categories-slider {
			background: lighten($color: $component-bg-dark, $amount: 10);
			border: solid 1px $gray-600;
		}

		.price,
		h5 {
			font-weight: 600;
			color: $gray-300;
		}
		.alert-primary {
			background: lighten($color: $component-bg-dark, $amount: 10);
			color: $body-bg-dark;
			border: none;
		}
		.theme-bg {
			background: $component-bg-dark !important;
		}
		.select2-dropdown {
			background-color: #0e0e0f !important;
			border: 1px solid #0e0e0f !important;
		}
		.close,
		.btn-cancel {
			background: $gray-700 !important;
		}
		li {
			&#profileNav {
				@include media-breakpoint-down(sm) {
					background-color: $gray-800;
				}
			}
		}
		.cart-item {
			border: solid $border-width $gray-600 !important;
		}

		.pagination {
			li {
				a {
					background-color: $gray-800;
				}
				&:not(:first-child) {
					margin-left: 0.5rem;
				}
				&.active {
					a {
						z-index: 1;
						color: $gray-100;
						background-color: $primary;
					}
				}
			}
		}
		.notifications-sidenav .nav-link.active .btn {
			color: $primary !important;
		}
		#d-mode + .va-moon {
			&::before {
				font-family: $vamoo-font-family;
				content: $va-solid-moon;
			}
		}
	}
}
