$icomoon-font-family: "vamoo" !default;
$icomoon-font-path: "../icons/vamoo/fonts" !default;

$va-clipboard-checked: "\e9da";
$va-heart-solid: "\e9d8";
$va-cart-solid: "\e9d9";
$va-instagram: "\e9be";
$va-youtube: "\e9bf";
$va-twitter: "\e9c0";
$va-star-fill: "\e9c1";
$va-star-regular: "\e9c2";
$va-facebook: "\e9c3";
$va-google: "\e9c4";
$va-image: "\e9c5";
$va-link_outline: "\e9c6";
$va-mail_open: "\e9c7";
$va-mail: "\e9c8";
$va-mail_unread: "\e9c9";
$va-notifications: "\e9ca";
$va-options: "\e9cb";
$va-paper_plane: "\e9cc";
$va-phone_landscape: "\e9cd";
$va-phone_portrait: "\e9ce";
$va-print: "\e9cf";
$va-radio_button_on: "\e9d0";
$va-rocket_outline: "\e9d1";
$va-scan: "\e9d2";
$va-search: "\e9d3";
$va-shirt_outline: "\e9d4";
$va-storefront: "\e9d5";
$va-ticket: "\e9d6";
$va-tv: "\e9d7";
$va-albums: "\e900";
$va-arrow_redo: "\e901";
$va-arrow_undo: "\e902";
$va-call: "\e903";
$va-car_sport: "\e904";
$va-card: "\e905";
$va-chatbox_ellipses_out: "\e906";
$va-chatbox: "\e907";
$va-checkmark_done: "\e908";
$va-checkmark: "\e909";
$va-clipboard: "\e90a";
$va-ellipse: "\e90b";
$va-extension_puzzle: "\e90c";
$va-filter: "\e90d";
$va-folder_open: "\e90e";
$va-folder: "\e90f";
$va-football: "\e910";
$va-funnel_outline: "\e911";
$va-game_controller_outl_f1B1m: "\e912";
$va-wallet_outline__1: "\e913";
$va-alarm: "\e914";
$va-apartment: "\e915";
$va-arrow-down-circle: "\e916";
$va-arrow-down: "\e917";
$va-arrow-left-circle: "\e918";
$va-arrow-left: "\e919";
$va-arrow-right-circle: "\e91a";
$va-arrow-right: "\e91b";
$va-arrow-up-circle: "\e91c";
$va-arrow-up: "\e91d";
$va-bicycle: "\e91e";
$va-bold: "\e91f";
$va-book: "\e920";
$va-bookmark: "\e921";
$va-briefcase: "\e922";
$va-bubble: "\e923";
$va-bug: "\e924";
$va-bullhorn: "\e925";
$va-bus: "\e926";
$va-calendar-full: "\e927";
$va-camera-video: "\e928";
$va-camera: "\e929";
$va-car: "\e92a";
$va-cart: "\e92b";
$va-chart-bars: "\e92c";
$va-checkmark-circle: "\e92d";
$va-chevron-down-circle: "\e92e";
$va-chevron-down: "\e92f";
$va-chevron-left-circle: "\e930";
$va-chevron-left: "\e931";
$va-chevron-right-circle: "\e932";
$va-chevron-right: "\e933";
$va-chevron-up-circle: "\e934";
$va-chevron-up: "\e935";
$va-circle-minus: "\e936";
$va-clock: "\e937";
$va-cloud-check: "\e938";
$va-cloud-download: "\e939";
$va-cloud-sync: "\e93a";
$va-cloud-upload: "\e93b";
$va-cloud: "\e93c";
$va-code: "\e93d";
$va-coffee-cup: "\e93e";
$va-cog: "\e93f";
$va-construction: "\e940";
$va-crop: "\e941";
$va-cross-circle: "\e942";
$va-cross: "\e943";
$va-database: "\e944";
$va-diamond: "\e945";
$va-dice: "\e946";
$va-dinner: "\e947";
$va-direction-ltr: "\e948";
$va-direction-rtl: "\e949";
$va-download: "\e94a";
$va-drop: "\e94b";
$va-earth: "\e94c";
$va-enter-down: "\e94d";
$va-enter: "\e94e";
$va-envelope: "\e94f";
$va-exit-up: "\e950";
$va-exit: "\e951";
$va-eye: "\e952";
$va-file-add: "\e953";
$va-file-empty: "\e954";
$va-film-play: "\e955";
$va-flag: "\e956";
$va-frame-contract: "\e957";
$va-frame-expand: "\e958";
$va-funnel: "\e959";
$va-gift: "\e95a";
$va-graduation-hat: "\e95b";
$va-hand: "\e95c";
$va-heart-pulse: "\e95d";
$va-heart: "\e95e";
$va-highlight: "\e95f";
$va-history: "\e960";
$va-home: "\e961";
$va-hourglass: "\e962";
$va-inbox: "\e963";
$va-indent-decrease: "\e964";
$va-indent-increase: "\e965";
$va-italic: "\e966";
$va-keyboard: "\e967";
$va-laptop-phone: "\e968";
$va-laptop: "\e969";
$va-layers: "\e96a";
$va-leaf: "\e96b";
$va-license: "\e96c";
$va-lighter: "\e96d";
$va-line-spacing: "\e96e";
$va-linearicons: "\e96f";
$va-link: "\e970";
$va-list: "\e971";
$va-location: "\e972";
$va-lock: "\e973";
$va-magic-wand: "\e974";
$va-magnifier: "\e975";
$va-map-marker: "\e976";
$va-map: "\e977";
$va-menu-circle: "\e978";
$va-menu: "\e979";
$va-mic: "\e97a";
$va-moon: "\e97b";
$va-move: "\e97c";
$va-music-note: "\e97d";
$va-mustache: "\e97e";
$va-neutral: "\e97f";
$va-page-break: "\e980";
$va-paperclip: "\e981";
$va-paw: "\e982";
$va-pencil: "\e983";
$va-phone-handset: "\e984";
$va-phone: "\e985";
$va-picture: "\e986";
$va-pie-chart: "\e987";
$va-pilcrow: "\e988";
$va-plus-circle: "\e989";
$va-pointer-down: "\e98a";
$va-pointer-left: "\e98b";
$va-pointer-right: "\e98c";
$va-pointer-up: "\e98d";
$va-poop: "\e98e";
$va-power-switch: "\e98f";
$va-printer: "\e990";
$va-pushpin: "\e991";
$va-question-circle: "\e992";
$va-redo: "\e993";
$va-rocket: "\e994";
$va-sad: "\e995";
$va-screen: "\e996";
$va-select: "\e997";
$va-shirt: "\e998";
$va-smartphone: "\e999";
$va-smile: "\e99a";
$va-sort-alpha-asc: "\e99b";
$va-sort-amount-asc: "\e99c";
$va-spell-check: "\e99d";
$va-star-empty: "\e99e";
$va-star-half: "\e99f";
$va-star: "\e9a0";
$va-store: "\e9a1";
$va-strikethrough: "\e9a2";
$va-sun: "\e9a3";
$va-sync: "\e9a4";
$va-tablet: "\e9a5";
$va-tag: "\e9a6";
$va-text-align-center: "\e9a7";
$va-text-align-justify: "\e9a8";
$va-text-align-left: "\e9a9";
$va-text-align-right: "\e9aa";
$va-text-format-remove: "\e9ab";
$va-text-format: "\e9ac";
$va-text-size: "\e9ad";
$va-thumbs-down: "\e9ae";
$va-thumbs-up: "\e9af";
$va-train: "\e9b0";
$va-trash: "\e9b1";
$va-underline: "\e9b2";
$va-undo: "\e9b3";
$va-unlink: "\e9b4";
$va-upload: "\e9b5";
$va-user: "\e9b6";
$va-users: "\e9b7";
$va-volume-high: "\e9b8";
$va-volume-low: "\e9b9";
$va-volume-medium: "\e9ba";
$va-volume: "\e9bb";
$va-warning: "\e9bc";
$va-wheelchair: "\e9bd";

