{{#unlesspage 'abandoned_cart' 'user_verification' 'forgot_password' 'order_email' 'user_verification_success'}}
<!DOCTYPE html>
<html lang="en">

<head>
	{{!— Required meta tags --}}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{{ title }}</title>
	<!-- Google Font -->
	<link rel="icon" type="image/x-icon" href="{{root}}assets/images/ico/favicon.ico" />
	<link rel="stylesheet" href="{{root}}assets/vendors/OwlCarousel2-2.3.4/assets/owl.carousel.min.css" />
	<link rel="stylesheet" href="{{root}}assets/vendors/select2/css/select2.min.css" />
	<link rel="stylesheet" href="{{root}}assets/css/style.css" />
	<script src="{{root}}assets/js/bundle.js"></script>
	<script src="{{root}}assets/vendors/listjs-v1.5.0/list.min.js"></script>
</head>

<body class="loader">
	{{>navigation}}
	{{/unlesspage}}
	{{> body}}
	{{#unlesspage 'abandoned_cart' 'user_verification' 'forgot_password' 'user_verification_success'}}
	{{> footer}}
</body>
<script src="{{root}}assets/vendors/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
<script src="{{root}}assets/vendors/select2/js/select2.full.min.js"></script>
<script src="{{root}}assets/vendors/star-rating-svg/jquery.star-rating-svg.min.js"></script>
<script src="{{root}}assets/js/app.js"></script>
<script src="{{root}}assets/js/shop.js"></script>
{{#ifpage 'index'}}
<script>flashSale()</script>{{/ifpage}}
</html>
{{/unlesspage}}